* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: "Open-Sans-Regular", sans-serif;
	font-size: 12px;
	color: #444;
	padding: 0px;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
}

/** Fonts Import **/

/** Fonts Sizes**/

/** Fonts Colors **/

/** Border-Helper **/

/** Locals **/

/** Fonts Import **/

@font-face {
	font-family: "Open-Sans-Regular";
	src: url("../fonts/Open-Sans-Regular.eot");
	src: url("../fonts/Open-Sans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-Regular.woff") format("woff"), url("../fonts/Open-Sans-Regular.ttf") format("truetype"), url("../fonts/Open-Sans-Regular.svg#Open-Sans-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Open-Sans-Bold";
	src: url("../fonts/Open-Sans-Bold.eot");
	src: url("../fonts/Open-Sans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-Bold.woff") format("woff"), url("../fonts/Open-Sans-Bold.ttf") format("truetype"), url("../fonts/Open-Sans-Bold.svg#Open-Sans-Bold") format("svg");
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Open-Sans-Semibold";
	src: url("../fonts/Open-Sans-Semibold.eot");
	src: url("../fonts/Open-Sans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-Semibold.woff") format("woff"), url("../fonts/Open-Sans-Semibold.ttf") format("truetype"), url("../fonts/Open-Sans-Semibold.svg#Open-Sans-Semibold") format("svg");
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Open-Sans-Italic";
	src: url("../fonts/Open-Sans-Italic.eot");
	src: url("../fonts/Open-Sans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-Italic.woff") format("woff"), url("../fonts/Open-Sans-Italic.ttf") format("truetype"), url("../fonts/Open-Sans-Italic.svg#Open-Sans-Italic") format("svg");
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Open-Sans-Light";
	src: url("../fonts/Open-Sans-Light.eot");
	src: url("../fonts/Open-Sans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-Light.woff") format("woff"), url("../fonts/Open-Sans-Light.ttf") format("truetype"), url("../fonts/Open-Sans-Light.svg#Open-Sans-Light") format("svg");
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

/** Helpers **/

.border-red {
	border: 1px solid red;
}

.border-green {
	border: 1px solid green;
}

.border-blue {
	border: 1px solid blue;
}

.border-pink {
	border: 1px solid pink;
}

/** Font Sizes **/

.color-1 {
	color: #0376e2;
}

.color-2 {
	color: #0376e2;
}

.color-3 {
	color: #0376e2;
}

.color-4 {
	color: #0376e2;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

/** Font Colors **/

/** Backgrounds **/

/** Definitions **/

section {
	padding-top: 80px;
	padding-bottom: 80px;
	border-top: 1px solid lightgray;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.btn {
	font-family: "Open-Sans-Regular", sans-serif;
	font-size: 14px;
	border-radius: 5px;
	padding: 12px 60px;
	color: #fff;
	border: 1px solid #B86447;
	background: #B86447;
	transition: all 0.3s;
}

.btn:hover {
	background: transparent;
	border: 1px solid #B86447;
	color: #B86447;
}

.section-title {
	font-size: 44px;
	font-family: "Open-Sans-Light", sans-serif;
	line-height: 1.27;
	font-weight: normal;
	color: #444;
}

.section-content {
	font-family: "Open-Sans-Regular", sans-serif;
	font-size: 16px;
	line-height: 1.75;
	color: #777;
	font-weight: normal;
}

.fixed {
	background: white;
	box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.3);
}

.fixed-link {
	color: #444 !important;
}

.move--left {
	right: 0 !important;
}

.checkout-btn-group {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	margin-top: 20px;
}

.checkout-btn-group .checkout-btn {
	padding: 10px 35px;
/*	border: 1px solid #666;
*/	text-align: center;
	border-right: none;
	font-family: "Open-Sans-Regular", sans-serif;
	font-size: 15px;
	color: #333;
	background: transparent;
}

.checkout-btn-group .checkout-btn:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.checkout-btn-group .checkout-btn:last-child {
	border-right: 1px solid #666;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	transition: all 0.2s;
}

.checkout-btn-group .checkout-btn:hover {
	color: white;
	border: 1px solid #B86447;
	background: #B86447;
}

.form-group {
	margin-bottom: 20px;
}

.form-group h3.label {
	font-size: 16px;
	margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
	display: block;
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
	font-family: "Open-Sans-Regular", sans-serif;
}

.form-group-radio {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
}

.form-group-radio .radio {
	margin-right: 15px;
}

.form-group-radio .radio:last-child {
	margin-right: 0;
}

.radio {
	margin: 0.5rem;
	margin-left: 0;
}

.radio input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.radio input[type="radio"]+.radio-label {
	font-size: 13px;
}

.radio input[type="radio"]+.radio-label:before {
	content: '';
	background: #f4f4f4;
	border-radius: 100%;
	border: 1px solid #b4b4b4;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	top: -0.01em;
	margin-right: 0.7em;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before {
	background-color: #B86447;
	box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus+.radio-label:before {
	outline: none;
	border-color: #B86447;
}

.radio input[type="radio"]:disabled+.radio-label:before {
	box-shadow: inset 0 0 0 4px #f4f4f4;
	border-color: #b4b4b4;
	background: #b4b4b4;
}

.radio input[type="radio"]+.radio-label:empty:before {
	margin-right: 0;
}

#message-box-success {
	margin-top: 20px;
	width: 50%;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding-left:50px;
}

#message-box-success img {
	max-width: 70px;
}

#message-box-success p {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	background: #4080ff;
	padding: 15px 25px;
	border-radius: 40px;
	display: inline;
	color: #fff;
	margin-left: 10px;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

#message-box-error p {
	padding: 10px;
	border-radius: 3px;
	border: 1px solid rgba(255, 0, 0, 0.9);
	background: rgba(255, 0, 0, 0.08);
	color: #cc0000;
	font-size: 15px;
	font-family: 'Open-sans-semibold', sans-serif;
	margin-top: 20px;
	width: 300px;
	margin-left: 320px;
	margin-right: auto;
}

/** Main Rules **/

#product-slide-section {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

#product-slide-section .container {
	max-width: 800px;
	margin: 0 auto;
}

#product-slide-section .flexslider {
	margin: 0 0 0;
}

#product-slide-section .flexslider ul.slides {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

#product-detail-section {
	padding: 30px 0;
}

#product-detail-section .container .product-description {
	margin-top: 20px;
}

#product-detail-section .container .product-quantity {
	margin-top: 20px;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}

#product-detail-section .container .product-quantity h2 {
	margin-right: 10px;
}

#product-detail-section .container .product-quantity input[type="number"] {
	font-family: "Open-Sans-Regular", sans-serif;
	padding: 5px 10px;
	border: 1px solid #ccc;
	outline-style: none;
	margin-left: 20px;
	padding-right: 5px;
	width: 60px;
}

#product-detail-section .container .product-price {
	margin-top: 20px;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	z
}

#product-detail-section .container .product-price h2 {
	margin-right: 20px;
}

#product-detail-section .container .product-price h3 {
	font-family: "Open-Sans-Regular", sans-serif;
	padding: 5px 10px;
	outline-style: none;
}

#product-detail-section .container .product-price h3 .green {
	color: green;
}

#product-detail-section .container .checkout-btn-group {
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}

#page-title-section {
	padding: 10px 0;
}

#page-title-section .container {
	text-align: center;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

#page-title-section .container a {
	color: #333333;
	font-size: 14px;
	margin-right: 0;
}

#page-title-section .container a i {
	margin-right: 5px;
}

#page-title-section .container h1 {
	font-size: 40px;
	margin: 0 auto;
}

#page-title-section .container>ul {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

/* #page-title-section .container ul li {
	padding: 0 10px;
}

#page-title-section .container ul li:first-child {
	padding-left: 0;
}

#page-title-section .container ul li:last-child {
	padding-right: 0;
} */

#page-title-section .container img {
	max-width: 80px;
}

#cart-section {
	padding: 40px 0;
}

#cart-section .container .cart-single {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: flex-start;
	-moz-align-items: flex-start;
	-ms-align-items: flex-start;
	-o-align-items: flex-start;
	align-items: flex-start;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px solid #ccc;
}

#cart-section .container .cart-single:last-child {
	border-bottom: none;
}

#cart-section .container .cart-single .cart-image {
	margin-right: 15px;
	max-width: 200px;
	height: auto;
}

#cart-section .container .cart-single .cart-product-delete a {
	color: white;
	background: rgba(255, 0, 0, 0.8);
	font-size: 13px;
	padding: 5px 15px;
	display: inline-block;
	margin-top: 15px;
	border-radius: 3px;
	transition: all 0.4s;
	border: 1px solid transparent;
}

#cart-section .container .cart-single .cart-product-delete a:last-child {
	background: #444;
}

#cart-section .container .cart-single .cart-product-delete a:hover {
	border: 1px solid rgba(255, 0, 0, 0.8);
	color: rgba(255, 0, 0, 0.8);
	background: transparent;
	cursor: pointer;
}

#cart-section .container .cart-single .cart-product-delete a:last-child:hover {
	border: 1px solid rgba(200, 200, 200, 0.8);
	color: #444;
	background: transparent;
	cursor: pointer;
}

#cart-section .container .cart-single .cart-details>h2 {
	font-size: 25px;
	text-overflow: ellipsis;
    overflow: hidden;
}

#cart-section .container .cart-single .product-quantity {
	margin-top: 15px;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
}

#cart-section .container .cart-single .product-quantity input[type="number"] {
	font-family: "Open-Sans-Regular", sans-serif;
	padding: 5px 10px;
	border: 1px solid #ccc;
	outline-style: none;
	margin-left: 20px;
	padding-right: 5px;
	width: 60px;
}

#cart-section .container .cart-single .product-price {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	margin-top: 15px;
}

#cart-section .container .cart-single .product-price h2 {
	margin-right: 20px;
}

#cart-section .container .total-price-container {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

#cart-section .container .total-price-container .label-container {
	width: 200px;
}

#cart-section .container .total-price-container .label-container h2 {
	font-size: 25px;
}

#cart-section .container .total-price-container .price-container p {
	font-size: 18px;
	font-weight: bold;
	margin-left: 75px;
}

#cart-section .container .checkout-btn-group {
	margin-top: 50px;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}

#checkout-form-section {
	padding: 40px 0;
}

#checkout-form-section .container {
	width: 700px;
}

#category-list-section {
	padding: 40px 0;
}

#category-list-section .container {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

#category-list-section .container .category-single {
	width: 32%;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	margin-right: 20px;
}

#category-list-section .container .category-single:nth-child(3n) {
	margin-right: 0;
}

#category-list-section .container .category-single:hover img {
	transform-origin: center center;
	transform: scale(1.1);
}

#category-list-section .container .category-single:hover .category-title {
	background: rgba(0, 0, 0, 0.7);
}

#category-list-section .container .category-single:hover .category-title p {
	opacity: 1;
}

#category-list-section .container .category-single img {
	transition: all 0.4s;
	display: block;
	max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 300px;
}

#category-list-section .container .category-single .category-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	transition: all 0.4s;
}

#category-list-section .container .category-single .category-title p {
	transition: all 0.4s;
	font-size: 17px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

#product-listing-section {
	padding: 40px 0;
}

#product-listing-section .container {
	max-width: 60%;
}

#product-listing-section .container .slide-container .product-single img {
	display: block;
}

#product-listing-section .container .slide-container .product-single .flex-caption {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	width: 100%;
	padding: 20px;
	left: 0;
	bottom: 0;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	font-size: 14px;
	line-height: 18px;
	text-align: center;
}

#product-listing-section .container .slide-container .product-single .flex-caption p.product-name {
	margin-right: auto;
	color: #444;
	font-size: 20px;
}

#product-listing-section .container .slide-container .product-single .flex-caption a {
	display: inline-block;
}

#product-listing-section .container .slide-container .product-single .flex-caption .hidden {
	display: none !important;
}

#product-listing-section .container .slide-container .flexslider {
	margin: 0 0 0;
}

#product-listing-section .container .slide-container .flexslider ul.slides {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

@media (max-width: 1024px) {
	.container {
		max-width: 80%;
	}
	#product-slide-section .container {
		max-width: 80%;
		margin: 0 auto;
	}
	#product-listing-section .container {
		max-width: 80%;
		margin: 0 auto;
	}
	.checkout-btn-group a.checkout-btn {
		font-size: 13px;
	}
	#page-title-section .container h1 {
		font-size: 25px;
	}
	#cart-section {
		padding: 20px 0;
	}
	#cart-section h2,
	#cart-section h3 {
		font-size: 15px !important;
		line-height: normal !important;
	}
	#cart-section .container .cart-single .product-quantity,
	#cart-section .container .cart-single .product-price {
		margin-top: 10px;
	}
	#cart-section .container .cart-single .cart-details>h2 {
		font-size: 15px;
	}
	#category-list-section .container .category-single {
		width: 47%;
	}
	#product-slide-section .container {
		max-width: 80%;
		margin: 0 auto;
	}
	#category-list-section .container {
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
	}
}

@media (max-width: 768px) {
	#message-box-success p {
		padding: 10px;
		font-size: 12px;
		max-width: 60%;
	}
	#message-box-error p {
		padding: 10px;
		font-size: 12px;
		width: 100%;
		margin-left:0;
		margin-top:10px;
	}
	.container {
		max-width: 90%;
	}
	#product-slide-section .container {
		max-width: 90%;
		margin: 0 auto;
	}
	.checkout-btn-group a.checkout-btn {
		font-size: 10px;
		padding: 5px 10px;
	}
	#page-title-section .container a span {
		display: none;
	}
	#page-title-section .container h1 {
		font-size: 16px;
	}
	#cart-section .container .total-price-container .price-container p {
		text-align: left;
		margin-left: 0;
	}
	#category-list-section .container .category-single {
		width: 100%;
		margin-bottom: 15px;
		margin-right: 0;
	}
	#category-list-section .container .category-single:last-child {
		margin-bottom: 0;
	}
	.flex-direction-nav a:before {
		font-size: 20px;
	}
	#product-listing-section .container .slide-container .product-single .flex-caption {
		padding: 10px;
	}
	#product-listing-section .container .slide-container .product-single .btn {
		font-size: 13px;
		padding: 5px 15px;
	}

	#cart-section .container .cart-single .cart-image {
		max-width:88px;
		height: auto;
	}
	#cart-section .container .cart-single .cart-image > img{
		min-height: 86px;
	}

	/* add css */
	.checkout-image > img {
    height: 86px;
    width: 100%;
	}
}

.btn-single-product {
	margin-top: 20px;
}

.product-link #product-url-main {
	margin-top: 20px;
	display: inline-block;
}

/* Sachin 06-07-2018 */

.error {
	padding: 5px 0;
	margin: 5px 0;
	color: #ce0c0cd9;
	font-size: 15px;
	line-height: 20px;
}

.nocart {
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 15px;
}

#product-detail-section .container {
	text-align: center;
}

/** Order Confirmation Updates **/

.order-details-container {
	margin-top: 40px;
}

.order-details-container h2 {
	font-size: 25px;
}

.order-details-container p {
	font-size: 16px;
	margin-top: 10px;
}

.eticket-container {
	margin-top: 20px;
	text-align: center;
}

.eticket-container a {
	display: inline-block;
}

#order-meta {
	padding: 0;
}

#cart-section {
	border-top: none;
}

#order-meta .container:first-child{
	border-bottom:1px solid transparent;
	padding:0;
}

#order-meta .container:first-child #message-box-success {
	margin:10px 0;
}


#order-meta .container:last-child{
	border-top:1px solid transparent;
}

#order-meta .container {
	-webkit-display: flex;
	padding: 20px 0;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	border-bottom: 1px solid lightgray;
}

#order-meta .container>div {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

#order-meta .container>div span {
	font-size: 14px;
	display: block;
	margin-left: 10px;
}

#order-meta .container .order-id {
	margin: 0 auto;
}

#order-meta .container .total span {
	font-weight: bold;
	font-size: 16px;
}

@media(max-width:640px) {
	#order-meta .container {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	#order-meta .container>div {
		width: 100%;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		margin: 5px 0;
	}

	#product-listing-section .container .slide-container .product-single .flex-caption {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	#product-listing-section .container .slide-container .product-single .flex-caption p {
		margin: 0 auto;
		margin-right: 0;
		width: 100%;
	}

	#product-listing-section .container .slide-container .product-single .flex-caption #popup_btn {
		margin:0 auto;
		margin-top:10px;
		padding:5px 20px !important;
	}

	.product-link #product-url-main {
		margin-top:0;
	}

	#message-box-success {
		margin-left:10px;
		width:100%;
	}
}

@media(max-width:480px) {
	#message-box-success {
		margin-left: 0;
		width: 100%;
	}
}

#page-title-section .container .mobile-menu {
	position: relative;
	display: none;
}

#page-title-section .container .mobile-menu>a {
	font-size: 25px;
}

.sidebar-menu {
	width: 250px;
	position: fixed;
	left: -250px;
	height: 100vh;
	transition: all 0.3s;
	background: white;
	z-index: 100000000;
}

.sidebar-menu .sidebar-menu--close--container {
	padding: 20px;
}

.sidebar-menu .sidebar-menu--close--container i {
	font-size: 15px;
	padding: 10px 12px;
	color: white;
	background: #B86447;
	border-radius: 5px;
}

.sidebar-menu .sidebar-menu--list--container .sidebar-menu--list {
	border-top: 1px solid lightgray;
}

.sidebar-menu .sidebar-menu--list--container .sidebar-menu--list .sidebar-menu--list--item {
	display: block;
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid lightgray;
}

.sidebar-menu .sidebar-menu--list--container .sidebar-menu--list .sidebar-menu--list--item a {
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
}

.sidebar-menu .sidebar-menu--signup--container {
	padding: 20px;
}

.sidebar-menu .sidebar-menu--signup--container a {
	display: block;
	text-align: center;
}

.sidebar-menu .sidebar-menu--signup--container a:hover {
	color: #B86447;
}

.sidebar-menu .sidebar-menu--signup--container .dropdown {
	margin-top: 15px;
	border: 1px solid #B86447;
	width: 100%;
}

.sidebar-menu .sidebar-menu--signup--container .dropdown .list {
	width: 100%;
}

#popup-form {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 100000;
}

.move--left {
	left: 0 !important;
}

#menu_slide {
	cursor: pointer;
}

@media(max-width:768px) {
	#main-nav--selector,
	.dropdown.main-nav--selector {
		display: none;
	}
	#page-title-section .container .mobile-menu {
		display: block;
	}
	#page-title-section .container a {
		margin-left: 0;
	}
}

@media(max-width:480px) {
	#message-box-success {
		margin-left: 0;
		padding-left:0;
	}

	#message-box-success p {
		width:100%;
		max-width:100%;
	}
}

.disable {
	pointer-events: none;
	background: lightgray !important;
	color: gray !important;
	border-right: 1px solid lightgray !important;
	border-top: 1px solid lightgray !important;
	border-bottom: 1px solid lightgray !important;
}

.enable {
	cursor: pointer !important;
	background: #B86447 !important;
	color: white !important;
	border: 1px solid #B86447 !important;
}

#cart #message-box-success,
#order_confirmation #message-box-success {
	text-align: left;
	padding-left:0;
	margin-left:0;
	margin-right: auto;
}

#order_confirmation #message-box-success {
	margin-top: 0;
}

#order-meta .container {
	padding:10px 0;
}

#main-nav--selector {
	display: none !important;
}

.dropdown {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
	background-color: #f6f6f6;
	border-radius: 5px;
	border: solid 1px #eee;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0075);
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: normal;
	font-family: "Open-Sans-Regular", sans-serif;
	outline: none;
	padding-left: 28px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	text-align: left !important;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: auto;
}

.dropdown:focus {
	background-color: #f1f1f1;
}

.dropdown:hover {
	background-color: #f3f3f3;
}

.dropdown:active,
.dropdown.open {
	background-color: #f0f0f0 !important;
	border-color: #e4e4e4;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
}

.dropdown:after {
	height: 0;
	width: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #777;
	-webkit-transform: origin(50% 20%);
	transform: origin(50% 20%);
	transition: all 0.125s ease-in-out;
	content: '';
	display: block;
	margin-top: -2px;
	pointer-events: none;
	position: absolute;
	right: 10px;
	top: 50%;
}

.dropdown.open:after {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.dropdown.open .list {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
}

.dropdown.open .option {
	cursor: pointer;
}

.dropdown.wide {
	width: 100%;
}

.dropdown.wide .list {
	left: 0 !important;
	right: 0 !important;
}

.dropdown .list {
	box-sizing: border-box;
	transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
	background-color: #fff;
	border-radius: 6px;
	margin-top: 4px;
	padding: 3px 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 999;
}

.dropdown .list:hover .option:not(:hover) {
	background-color: transparent !important;
}

.dropdown .option {
	cursor: default;
	font-weight: 400;
	line-height: 40px;
	outline: none;
	padding-left: 18px;
	padding-right: 29px;
	text-align: left;
	transition: all 0.2s;
}

.dropdown .option:hover,
.dropdown .option:focus {
	background-color: #f6f6f6 !important;
}

.dropdown .option.selected {
	font-weight: 600;
}

.dropdown .option.selected:focus {
	background: #f6f6f6;
}

.dropdown.main-nav--selector {
	padding:10px 60px;
	width: 200px;
	padding-left: 15px;
}
.main-nav--selector .list {
	width:100%;
	margin-top:6px;
}
.main-nav--selector  ul li {
	font-size: 15px;
}

.main-nav--selector ul li i, .sidebar-menu--list--item i {
	margin-right: 10px;
}

/**** 24-07-2018 ***/
#store-information { padding: 0; }

#store-information .container { padding: 40px 0; border-bottom: 1px solid lightgray; }

#store-information .container h2 { font-size: 25px; }

#store-information .container .section-content { margin-top: 20px; }

#store-information .container .section-content p { margin-bottom: 10px; }

#store-information .container .section-content p a { color: #444; }

#store-information .container .section-content p a i { margin-right: 10px; }

#store-information .container .delivery-single { margin-bottom: 20px; }

#store-information .container .delivery-single .delivery-answer { -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; }

#store-information .container .delivery-single .delivery-answer p { font-size: 20px; font-weight: bold; }

#store-information .container .delivery-single .delivery-answer .yes { margin-right: 10px; color: green; }

#store-information .container .delivery-single .delivery-answer .no { color: red; }

#store-information .container .delivery-single .delivery-content h3 { font-size: 15px; margin-top: 10px; }

/** 25-08-2018 **/

.status {
	padding: 5px 10px;
	border-radius: 4px;
	font-size: 12px;
	color: white;
}

.single-order-action a {
	padding: 10px 35px;
	border-radius: 3px;
	background: #B86447;
	color: white;
	margin-top: 20px;
	display: inline-block;
}

.order-history .cart-single .cart-details>div:first-child {
	margin-top: 0 !important;
}

.pagination.pagination-sm {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}

.pagination.pagination-sm li.page {
	border: 1px solid gray;
	min-width: 40px;
	text-align: center;
}

.pagination.pagination-sm li.page a {
	display: block;
	color: #333333;
	font-size: 14px;
	padding: 10px;
}

.pagination.pagination-sm li.page a.current {
	background: #B86447;
	color: white;
	font-weight: bold;
}

.pagination.pagination-sm li {
	min-width: 40px;
	text-align: center;
	border-right: none !important;
	border: 1px solid #B86447;
}

.pagination.pagination-sm li:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.pagination.pagination-sm li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-right: 1px solid gray !important;
}

.pagination.pagination-sm li a {
	display: block;
	color: #333333;
	font-size: 14px;
	padding: 10px;
}

.pagination.pagination-sm li a.current {
	background: #B86447;
	color: white;
	font-weight: bold;
}

.status-processing {
	background: #0376e2;
}

.status-dispatched {
	background: #0376e2;
}

.status-completed {
	background: green;
}

.status-canceled {
	background: red;
}

.status-failed {
	background: black;
}

@media (max-width: 640px) {
	.order-history .container .cart-single {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.order-history .container .cart-single .cart-image {
		width: 100%;
		max-width: 100% !important;
		height: auto !important;
		margin-bottom: 20px;
	}
	.order-history .container .cart-single .cart-image img {
		width: 100%;
	}
}

#order_details .container.eticket-container {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

#order_details .container.eticket-container>div {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}

#order_details .container.eticket-container .status-container h3 {
	margin-right: 10px;
}

#order_details .container.eticket-container .status-container .status {
	margin-right: 10px;
}

#order_details .container.eticket-container .status-container {
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
}

#order_details .container.eticket-container .action-container {
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	-o-justify-content: flex-end;
	justify-content: flex-end;
}

#order_details .container.eticket-container .status-container,
#order_details .container.eticket-container .action-container {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

#order_details .container.eticket-container .action-container .btn {
	font-size: 12px;
	padding: 13px;
	margin-right: 10px;
}

@media (max-width: 768px) {
	
}

@media (max-width: 640px) {
	.dropdown-confirm-failed {
		width:180px;
		left:0;
	}
	#order_details .container.eticket-container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		-ms-justify-content: space-around;
		-o-justify-content: space-around;
		justify-content: space-around;
	}
	#order_details .container.eticket-container>div {
		margin-top: 10px;
	}
	#order_details .container.eticket-container .status-container .status,
	#order_details .container.eticket-container .action-container .btn {
		margin-bottom: 10px;
	}
	#order_details .container.eticket-container .status-container,
	#order_details .container.eticket-container .action-container {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-align-items: flex-start;
		-moz-align-items: flex-start;
		-ms-align-items: flex-start;
		-o-align-items: flex-start;
		align-items: flex-start;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
	}
}
.text-danger{color: #ce0c0cd9;font-size: 14px;}
.err4,.err5,.err9{position: relative;bottom: 12px;}

.confirm-delivered {
background:green;
border:1px solid green;
}

.confirm-failed {
background:black;
border:1px solid black;
}

.action-container {
	position: relative;
}

.dropdown-confirm-failed {
	position: absolute;
	top: 50px;
	right: 135px;
	transition: all 0.3s;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0075);
	background: white;
	display: none;
	border:1px solid lightgray;
}

.dropdown-confirm-failed .btn {
	padding:5px 20px !important;
	position: relative;
	left: -10px;
	margin-top: 10px;
}

.show {
	display: block;
}

/*** 12-9-18 :: Mobile View Changes ***/
@media(min-width:768px) {
	.mobile-view {
		display: none;
	}
}
@media(max-width: 768px) {
	.desktop-view {
		display: none;
	}

	.store-header {
		padding-top: 10px;
		padding-bottom: 10px;
		background: #B86447;
	}

	.store-header .container {
		-webkit-display: flex;
		-moz-display: flex;
		-ms-display: flex;
		-o-display: flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		-o-align-items: center;
		align-items: center;
	}

	.store-header .container .store-image img {
		border-radius: 50%;
	}

	.store-header .container .store-title-rating {
		margin-left: 20px;
	}

	.store-header .container .store-social-share {
		margin-left: auto;
	}
}




/*** Mobile View Changes ***/
button, input[type="button"], input[type="submit"] { -webkit-appearance: none; }

@media (max-width: 768px) { .mobile-view { display: block; }
.active-option a { font-family: "Open-Sans-Semibold", sans-serif; color:#B86447 !important; }
  .desktop-view { display: none; }
  .store-header { background: #73af00; padding-top: 10px; padding-bottom: 10px; } /*#B86447;*/
  .store-header .container { -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; }
  .store-header .container .store-image img { border-radius: 50%; border: 3px solid #fff;}
  .store-header .container .store-details { margin-left: 20px; }
  .store-header .container .store-details p { font-size: 17px; color: white; }
  .store-header .container .store-details .store-ratings { font-size: 20px; }
  .store-header .container .store-details .store-ratings .rate-base-layer { color: lightgray; }
  .store-header .container .store-details .store-ratings .rate-select-layer, .store-header .container .store-details .store-ratings .rate-hover-layer { color: yellow; }
  .store-header .container .store-share { margin-left: auto; }
  .store-header .container .store-share a { font-size: 20px; color: white; font-weight: normal; }
  .store-section { padding-top: 40px; }
  .store-section .store-section-title { font-size: 18px; padding-bottom: 10px; border-bottom: 1px solid lightgray; margin-bottom: 20px; }
  .store-collections #collection-carousel, .store-collections #featured-products { margin-bottom: 0; }
  .store-collections #collection-carousel .collection-item, .store-collections #featured-products .collection-item { border-radius: 10px; }
  .store-collections #collection-carousel .collection-item img, .store-collections #featured-products .collection-item img { border-radius: 10px;  max-height: 100%;max-width: 100%;width: 130px;height: 100px;}
  .store-collections #collection-carousel .collection-item .title p, .store-collections #featured-products .collection-item .title p { font-size: 14px; color: #333333; text-align: center; margin-top: 5px; font-family: "Open-Sans-Semibold", sans-serif; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
  .store-featured-products #featured-products { margin-bottom: 0; }
  .store-featured-products #featured-products .collection-item { border-radius: 10px; }
  .store-featured-products #featured-products .collection-item img { border-radius: 10px; max-height: 100%;max-width: 100%;height: 150px;}
  .store-featured-products #featured-products .collection-item .title { margin-top: 10px; }
  .store-featured-products #featured-products .collection-item .title p { font-size: 14px; color: #333333; margin-top: 5px; font-family: "Open-Sans-Semibold", sans-serif; text-align: left;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
  .store-featured-products #featured-products .collection-item .price { color: #666; }
  .store-settings { padding-bottom: 40px; }
  .store-settings .details-main { margin-bottom: 20px; }
  .store-settings .details-main .details-title { font-size: 18px; margin-bottom: 20px; }
  .store-settings .details-main .details-content p { font-size: 14px; line-height: 22px; }
  .store-settings .details-main .details-content .delivery-single { margin-bottom: 20px; }
  .store-settings .details-main .details-content .delivery-single .delivery-answer .yes i { color: green; }
  .store-settings .details-main .details-content .delivery-single .delivery-answer .no i { color: red; }
  .social-section-sticky { border-top: 1px solid lightgray; position: fixed; width: 100%; bottom: 0; background: white; padding-top: 0; padding: 15px; }
  .social-section-sticky .container { -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; }
  .social-section-sticky .container a { color: #333; font-size: 20px; transition: all 0.3s; }
  .social-section-sticky .container a:hover { color: #666; }
  .navigator-head { padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid lightgray; }
  .navigator-head .container { -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; }
  .navigator-head .container a { color: #333; font-size: 16px; transition: all 0.3s; }
  .navigator-head .container a:hover { color: #666; }
  .navigator-head .container .left-head a { font-size: 15px; -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; }
  .navigator-head .container .left-head a i { margin-right: 10px; font-size: 20px; }
  .navigator-head .container .right-head { margin-left: auto; position: relative; }
  .navigator-head .container .right-head a { margin-right: 10px; }
  .navigator-head .container .right-head a:last-child { margin-right: 0; }
  .navigator-head .container .right-head #search-form { border: 1px solid lightgray; position: fixed; width: 100%;min-width: 100%; box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2); right: 0; top:-14px; margin-top: 14px; padding: 10px; background: white; /*border-radius: 5px;*/ display: none; z-index: 1000000; }
  .navigator-head .container .right-head #search-form input[type="text"] { font-family: "Open-Sans-Regular", sans-serif; font-size: 14px; border: none; outline-style: none; }
  .navigator-head .container .right-head #search-form .close-container { margin-left: auto; }
  .navigator-head .container .right-head #search-form .close-container a { font-size: 14px; }
  .product-listing-head { border-bottom: 1px solid lightgray; padding-top: 10px; padding-bottom: 10px; }
  .product-listing-head .container { -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; }
  .product-listing-head .container a { color: #333; font-size: 20px; transition: all 0.3s; }
  .product-listing-head .container a:hover { color: #666; }
  .product-listing-head .container .left-head p { font-family: "Open-Sans-Semibold", sans-serif; font-size: 14px; }
  .product-listing-head .container .right-head { margin-left: auto; -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -webkit-justify-content: space-around; -moz-justify-content: space-around; -ms-justify-content: space-around; -o-justify-content: space-around; }
  .product-listing-head .container .right-head .sort-div { margin-right: 15px; position: relative; }
  .product-listing-head .container .right-head .sort-div #head-sort i { transform: rotate(-90deg); transform-origin: center; }
  .product-listing-head .container .right-head .sort-div #sort-options { border: 1px solid lightgray; position: absolute; width: 250px; box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2); left: -220px; margin-top: 5px; padding: 10px; background: white; border-radius: 5px; display: none; }
  .product-listing-head .container .right-head .sort-div #sort-options ul li { border-bottom: 1px solid rgba(200, 200, 200, 0.5); padding: 10px; }
  .product-listing-head .container .right-head .sort-div #sort-options ul li:last-child { border-bottom: none; }
  .product-listing-head .container .right-head .sort-div #sort-options ul li a { font-size: 14px; }
  .product-listing-head .container .right-head .sort-div #sort-options ul li a i { margin-right: 10px; }
  .product-listing-head .container .right-head .filter-div { position: relative; }
  .product-listing-head .container .right-head .filter-div #head-filter { margin-right: 0; }
  .product-listing-head .container .right-head .filter-div #filter-options { border: 1px solid lightgray; position: absolute; width: 250px; box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2); left: -220px; margin-top: 5px; padding: 10px; background: white; border-radius: 5px; display: none; }
  .product-listing-head .container .right-head .filter-div #filter-options .slider-input-group { padding-left: 5px; padding-right: 5px; -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; }
  .product-listing-head .container .right-head .filter-div #filter-options .slider-input-group span { display: block; font-family: "Open-Sans-Semibold", sans-serif; font-size: 13px; }
  .product-listing-head .container .right-head .filter-div #filter-options .pslider { color: #eee; }
  .product-listing-head .container .right-head .filter-div #filter-options .ui-slider { width: 90%; left: 10px; border: 0; text-align: left; background: none; height: 12px; background: lightgray; margin-top: 10px; border-radius: 0; margin-bottom: 20px; }
  .product-listing-head .container .right-head .filter-div #filter-options .ui-slider .ui-slider-handle { width: 20px; height: 20px; background: #B86447; border: none; border-radius: 0; outline: none; }
  .product-listing-head .container .right-head .filter-div #filter-options .ui-slider .ui-slider-range { font-size: .7em; display: block; border: 0; background: gray; height: 12px; }
  .product-listing-head .container .right-head .filter-div #filter-options ul li { border-bottom: 1px solid lightgray; padding: 10px; text-align: center; }
  .product-listing-head .container .right-head .filter-div #filter-options ul li:last-child { border-bottom: none; }
  .product-listing-head .container .right-head .filter-div #filter-options ul li a { font-size: 14px; margin-bottom: 5px; }
  .product-listing-head .container .right-head .filter-div #filter-options ul li a i { color: #B86447; }
  .product-grid { margin-top: 20px; }
  .product-grid .container { -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: flex-start; -moz-align-items: flex-start; -ms-align-items: flex-start; -o-align-items: flex-start; align-items: flex-start; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; }
  .product-grid .container .product-single { width: 45%; margin-bottom: 20px; }
  .product-grid .container .product-single img { border-radius: 10px;max-height: 100%;max-width: 100%;height: 180px; }
  .product-grid .container .product-single .title { font-family: "Open-Sans-Semibold", sans-serif; color: #333; font-size: 15px; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
  .product-grid .container .product-single .price { color: #666; }
  .product-detail-section .product-image img { display: block; width: 100%; }
  .product-detail-section .container .product-description { margin-top: 20px; padding-bottom: 20px; border-bottom: 1px solid lightgray; }
  .product-detail-section .container .product-description .product-name { margin-bottom: 20px; font-size: 16px; }
  .product-detail-section .container .product-description .product-desc-title { -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; }
  .product-detail-section .container .product-description .product-desc-title p { font-size: 14px; }
  .product-detail-section .container .product-description .product-desc-title p:first-child { margin-left: 0; }
  .product-detail-section .container .product-description .product-desc-title p:last-child { margin-left: auto; font-family: "Open-Sans-Semibold", sans-serif; }
  .product-detail-section .container .product-description .product-desc-text { margin-top: 20px; }
  .product-detail-section .container .product-description .product-desc-text p { font-size: 13px; }
  .product-detail-section .container .product-description .product-desc-see-more { text-align: right; margin-top: 20px; }
  .product-detail-section .container .product-description .product-desc-see-more a { font-family: "Open-Sans-Semibold", sans-serif; font-size: 15px; color: #B86447; }
  .product-detail-section .container .product-meta-container { margin-top: 20px; -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; margin-bottom: 20px; }
  .product-detail-section .container .product-meta-container .meta-single { width: 50%; }
  .product-detail-section .container .product-meta-container .meta-single p.title { font-size: 14px; font-family: "Open-Sans-Semibold", sans-serif; }
  .product-detail-section .container .product-meta-container .meta-single .meta-details { margin-top: 10px; }
  .product-detail-section .container .product-meta-container .meta-single .meta-details p { font-size: 13px;height: 30px; }
  .product-detail-section .container .product-meta-container .meta-single .meta-details p i { margin-right: 10px; }
  .product-detail-section .container .product-meta-container .meta-single .meta-details input[type="number"] { display: inline-block; max-width: 100px; padding: 5px; }
  .product-detail-section .container .checkout-btn-group { margin-bottom: 30px; }
  .product-detail-section .container .checkout-btn-group button { font-size: 13px; width: 100%; }
  .orders-listing-container .order-single { padding: 20px 15px; border-bottom: 1px solid lightgray; }
  .orders-listing-container .order-single .close-container { text-align: right; }
  .orders-listing-container .order-single .close-container a { font-size: 15px; color: #333; }
  .orders-listing-container .order-single .order-details { -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: flex-start; -moz-align-items: flex-start; -ms-align-items: flex-start; -o-align-items: flex-start; align-items: flex-start; }
  .orders-listing-container .order-single .order-details .order-image { flex: 0 0 35%; max-width: 35%; }
  .orders-listing-container .order-single .order-details .order-image img { display: block; width: 100%; }
  .orders-listing-container .order-single .order-details .order-desc { margin-left: 10px; flex: 0 0 calc(65% - 10px); max-width: calc(65% - 10px); }
  .orders-listing-container .order-single .order-details .order-desc .product-name { font-size: 14px; font-family: "Open-Sans-Semibold", sans-serif; margin-bottom: 10px; }
  .orders-listing-container .order-single .order-details .order-desc .seller-name, .orders-listing-container .order-single .order-details .order-desc .total-amount, .orders-listing-container .order-single .order-details .order-desc .order-status { margin-bottom: 5px; }
  .orders-listing-container .order-single .order-details .order-desc .seller-name p, .orders-listing-container .order-single .order-details .order-desc .total-amount p, .orders-listing-container .order-single .order-details .order-desc .order-status p { font-size: 12px; font-family: "Open-Sans-Bold", sans-serif; }
  .orders-listing-container .order-single .order-details .order-desc .seller-name p span, .orders-listing-container .order-single .order-details .order-desc .total-amount p span, .orders-listing-container .order-single .order-details .order-desc .order-status p span { font-family: "Open-Sans-Regular", sans-serif; }
  .orders-listing-container .order-single .order-details .order-desc .view-details-rating { -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; margin-top: 5px; }
  .orders-listing-container .order-single .order-details .order-desc .view-details-rating a { padding: 5px; color: white; border-radius: 4px; background: #B86447; font-family: "Open-Sans-Semibold", sans-serif; display: inline-block; }
  .orders-listing-container .order-single .order-details .order-desc .view-details-rating .ratings { font-size: 14px; margin-left: auto; font-family: "Open-Sans-Semibold", sans-serif; }
  .orders-listing-container .order-single .order-details .order-desc .view-details-rating .ratings.rated i { color: orange; }
  .order-info-container .order-listing .order-single { border-bottom: 1px solid lightgray; padding: 20px 15px; }
  .order-info-container .order-listing .order-single .close-container { text-align: right; }
  .order-info-container .order-listing .order-single .close-container a { color: #333; font-size: 16px; }
  .order-info-container .order-listing .order-single .order-details { -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: flex-start; -moz-align-items: flex-start; -ms-align-items: flex-start; -o-align-items: flex-start; align-items: flex-start; }
  .order-info-container .order-listing .order-single .order-details .order-image { flex: 0 0 35%; max-width: 35%; }
  .order-info-container .order-listing .order-single .order-details .order-image img { display: block;height: 120px;max-height: 100%;max-width: 100%;border-radius: 10px;}
  .order-info-container .order-listing .order-single .order-details .order-meta { margin-left: 10px; }
  .order-info-container .order-listing .order-single .order-details .order-meta .product-title, .seller-title { font-size: 14px; font-family: "Open-Sans-Semibold", sans-serif; margin-bottom: 10px; }
  .product-title p {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;width: 180px;}
  .order-info-container .order-listing .order-single .order-details .order-meta .product-quantity, .order-info-container .order-listing .order-single .order-details .order-meta .product-amount { margin-bottom: 5px; }
  .order-info-container .order-listing .order-single .order-details .order-meta .product-quantity p, .order-info-container .order-listing .order-single .order-details .order-meta .product-amount p { font-family: "Open-Sans-Semibold", sans-serif; font-size: 13px; }
  .order-info-container .order-listing .order-single .order-details .order-meta .product-quantity p span, .order-info-container .order-listing .order-single .order-details .order-meta .product-amount p span { font-family: "Open-Sans-Regular", sans-serif; }
  .order-details-action-container { position: fixed; width: 100%; bottom: 0; left: 0; /*border-top: 1px solid lightgray;*/}
  .order-details-action-container .total-row { background: white; padding: 15px 10px; -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; border-top: 1px solid lightgray; border-bottom: 1px solid lightgray; }
  .order-details-action-container .total-row p { font-size: 14px; font-family: "Open-Sans-Semibold", sans-serif; }
  .order-details-action-container .total-row p:last-child { margin-left: auto; }
  .order-details-action-container .action-bar { background: white; -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; }
  .order-details-action-container .action-bar a { padding: 13px 0; flex: 1; font-family: "Open-Sans-Semibold", sans-serif; color: #333; text-align: center; font-size: 17px;border-top: 1px solid #ddd; }
  .order-details-action-container .action-bar a:last-child { background: #B86447; color: white; }
  .checkout-action-bar { position: fixed; width: 100%; bottom: 0; }
  .checkout-action-bar a, .checkout-action-bar button, .checkout-action-bar input[type="submit"] { padding: 15px; text-align: center; background: #B86447; color: white; font-size: 14px; font-family: "Open-Sans-Semibold", sans-serif; display: block;border-radius: 0;width: 100%;border:none; } }
.checkout-links a.checkout-btn {font-size: 14px; padding:10px 35px; flex: 1;}

.details-overlay { position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, 1); z-index: 10000; display: none; }
  .modal-window { width: 60%; background: white; border-radius: 5px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 15px; z-index: 1000000; display: none; }
  .modal-window .close-container { text-align: right; }
  .modal-window .close-container a { font-size: 15px; color: #333; }
  .modal-window .modal-content { text-align: center; }
  .modal-window .modal-content img.logo { max-width: 150px; }
  .modal-window .modal-content h2 { margin-top: 30px; margin-bottom: 20px; }
  .modal-window .modal-content .rate-popup { margin: 0 auto; font-size: 30px; }
  .modal-window .modal-content .rate-popup .rate-base-layer { color: lightgray; }
  .modal-window .modal-content .rate-popup .rate-select-layer { color: orange; }
  .modal-window .modal-content .rate-popup .rate-hover-layer { color: #ffc966; }
  .modal-window .modal-content .action-container { -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; }
  .modal-window .modal-content .action-container a { border-radius: 5px; min-width: 45%; padding: 10px; font-size: 14px; color: white; font-family: "Open-Sans-Semibold", sans-serif; }
  .modal-window .modal-content .action-container a.confirm-positive { background: #004d00; }
  .modal-window .modal-content .action-container a.confirm-negative { background: #cc0000; }
  .seller-details-container { padding-top: 30px; }
  .seller-details-container .container > div { border-bottom: 1px solid lightgray; -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: flex-start; -moz-align-items: flex-start; -ms-align-items: flex-start; -o-align-items: flex-start; align-items: flex-start; padding: 10px 0; }
  .seller-details-container .container > div:last-child { border-bottom: none; }
  .seller-details-container .container > div i { font-size: 20px; margin-right: 20px; }
  .seller-details-container .container > div span { font-size: 15px; color: #333; } }

@media (max-width: 480px) { .modal-window { width: 80%; }
  .modal-window .modal-content { text-align: center; }
  .modal-window .modal-content img.logo { max-width: 150px; }
  .modal-window .modal-content h2 { font-size: 14px; } }


/*** 20-092018 sachin ***/

.text-overflow{
  width:auto;
  height:50px;
  display:block; 
  overflow:hidden;
  word-break: break-word;
  word-wrap: break-word;
}

.btn-overflow {
	display: none;
	text-decoration: none; 
}

.product-detail-section .container .product-meta-container { margin-top: 20px; -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; margin-bottom: 60px; }
.order-details-action-container a {border-right: 1px solid lightgray}
.order-details-action-container a:nth-child(1) {flex: 0.5;}
.order-details-action-container a:nth-child(2) {flex: 0.5;}

/* 24-9-2018 rinkal css for order history, my account, my order page start */

.order-confirm {
	background-color: green;
	color: #fff;
	padding: 8px 10px;
	font-size: 14px;
	border-radius: 3px;
	box-shadow: 0px 4px 3px rgba(0,0,0,0.2);
	margin-right: 10px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

.navigator-head .container .left-head {
	font-size: 15px;
}

.btn-rating {
	background-color: dodgerblue;
	color: #fff;
	padding: 8px 10px;
	font-size: 14px;
	border-radius: 3px;
	box-shadow: 0px 4px 3px rgba(0,0,0,0.2);
	margin-right: 10px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

.m-t-10 {
	margin-top: 10px !important;
}

.view-detail-btn {
	background-color: saddlebrown;
	color: #fff;
	padding: 8px 10px;
	font-size: 14px;
	border-radius: 3px;
	box-shadow: 0px 4px 3px rgba(0,0,0,0.2);
	margin-right: 10px;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

.low-rating {
	color: #000;
	font-size: 15px;
	right: 15px;
	position: absolute;
}

.high-rating {
	color: #ffa500;
	font-size: 15px;
	right: 15px;
	position: absolute;
}

.social-bar i {
	font-size: 24px;
	color: #000;
	margin: 0px 5px;
}

.logged-in-social i {
	color: green;

}

.profile-order-link {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	min-height: 20px;
	padding: 20px 0;
	border: 1px solid transparent;
	margin: 15px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #000;
}

.profile-order-link a,
.address-content a {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #000;
}

.profile-order-link .fa,
.address-content .fa {
	margin-right: 15px;
	color: saddlebrown;
	font-size: 40px;
}

.border-none {
	border: none !important;
}

.address-content {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	padding: 20px 15px 15px;
	margin: 15px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #000;
	padding-left: 0;
}

.address-main .form-group {
	padding: 0px 15px;
	display: flex;
	/*justify-content: center;*/
}

.address-main .form-group .label {
	min-width: 100px;
}

.btn-save {
	background-color: dodgerblue;
	font-family: "Open-Sans-Regular", sans-serif;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	border: none;
	padding: 8px 10px;
	min-width: 100px;
	margin-right: 10px;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.btn-cancel {
	font-family: "Open-Sans-Regular", sans-serif;
	border-radius: 3px;
	background-color: red;
	color: #fff;
	font-size: 14px;
	border: none;
	padding: 8px 10px;
	min-width: 100px;
	margin: 0px 10px;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
	-webkit-appearance:none;
}

.profile-modal {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.order-meta-edit-profile .form-group {
	margin-bottom: 20px;
	text-align: left;
}

.m-r-5 {
	margin-right: 5px;
}

.checkbox-address {
	margin-right: 5px;
	margin-top: 1px;
}

.logout-link {
	color: saddlebrown;
	font-size: 17px;
	/* padding: 10px; */
	margin-top: 10px;
}

.profile-single,
.bank-info-container {
	display: flex;
	margin-bottom: 50px;
}

.profile-details,
.bank-content {
	margin-left: 50px;
}

.profile-details h3 {
	margin-bottom: 10px;
	font-size: 17px;
}

.bank-content .form-group {
	display: flex;
	align-items: center;
}

.bank-field label {
	min-width: 150px;
	min-width: 150px;
	font-size: 17px;
	font-weight: 700;
}

.bank-field .form-control {
	min-width: 300px;
}

.desktop-view .profile-order-link,
.desktop-view .address-content {
	margin: 0px;
	border: none;
}

.container.order-details-container.desktop-view {
	margin-top: 0px;
}

/* 24-9-2018 rinkal css for order history, my account, my order history page end */


/** Login Popup :: Checkout page **/
@media(max-width: 768px) {
    .form-control {
        display: block;
        width: 100%;
        padding: 8px;
        border-radius: 3px;
        border: 1px solid #ccc;
        font-family: "Open-Sans-Regular", sans-serif;
        margin-bottom: 10px;    
    }
	#login-popup .modal-content .social-login-container {
		-webkit-display: flex;
		-moz-display: flex;
		-ms-display: flex;
		-o-display: flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		-o-align-items: center;
		align-items: center;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		-o-justify-content: space-between;
		justify-content: space-between;
		margin: 30px 0;
	}

	#login-popup .modal-content .social-login-container h2 {
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 20px;
	}

	#login-popup .modal-content .social-login-container ul {
		-webkit-display: flex;
		-moz-display: flex;
		-ms-display: flex;
		-o-display: flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		-o-align-items: center;
		align-items: center;
	}

	#login-popup .modal-content .social-login-container ul li {
		margin-right: 10px;
	}

	#login-popup .modal-content .social-login-container ul li a {
		font-size: 25px;
		color: #4d90fe;
	}

	#login-popup .modal-content .social-login-container ul li:last-child {
		margin-right: 0;
	}

	#login-popup .modal-content .social-login-container ul li:hover {
		color: #B86447;
	}

	#login-popup .modal-content img {
		width:80px;
	}

	#login-popup .modal-content .action-container span {
		width: 100%;
		display: block;
        padding: 12px 10px;
	}

    #login-popup .modal-content .action-container span:hover,
    #login-popup .modal-content .action-container span:focus {
        color: #B86447;
        border: 1px solid #B86447;
    } 

    #email-login-popup .close-container {
        margin-bottom: 20px;
    }

    #email-login-popup .modal-content {
        text-align: left;
    }

    #email-login-popup .btn {
        padding: 10px 50px;
        text-align: left;
        display: block;
    }

    .coupon-apply-section .container .form-group .input-wrap {
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        display: flex;
        margin-top: 10px;
    }

    .coupon-apply-section .container .form-group .input-wrap input,
    .coupon-apply-section .container .form-group .input-wrap button {
        border-radius: 0;
        margin-bottom: 0;
    }

    .coupon-apply-section .container .form-group .input-wrap button {
        padding: 5px 20px;
        color: white;
        background: #000;
        flex: 1;
        border: none;
        font-family: "Open-Sans-Semibold", sans-serif;
    }
    .total-section .container > div {
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .total-section .container > div label {
        font-family: "Open-Sans-Semibold", sans-serif;
        font-size: 15px;
    }

    .total-section .container > div p {
        font-family: "Open-Sans-Regular", sans-serif;
        font-size: 14px;
    }

    /*** Sohit ***/
    #cart-section .container .checkout-btn-group{
        position: fixed;
        bottom:0;
        margin:0 auto;
        right:0;
        left:0;
    }
     #cart-section .container .checkout-btn-group .checkout-btn:first-child{
        display: table-cell;
        flex: 1;
        padding: 14px;
        font-size:12px;
         border-top: 1px solid #B86447;
         box-shadow: 0 0 1px #ccc;
         background-color: #fff;
    }
    #cart-section .container .checkout-btn-group .checkout-btn:first-child:focus{
    	color: #000;
    }
     #cart-section .container .checkout-btn-group .checkout-btn:last-child{
        flex: 1;
        display: table-cell;
        background-color: #B86447;
        color:#fff;
        padding: 14px;
        font-size:13px;
         border:none;
         box-shadow: 0 0 1px #ccc;
    }
    #cart-section .container .total-price-container {
		padding-bottom: 40px;
	}
}

span.process {
	margin: 0 auto;
	font-size: 15px;
}

.checkout-details-container {
	margin-bottom: 70px;
}

#order-confirm-popup h2 {
	font-size: 15px;
}

#options1 {
	flex-wrap: wrap;
}

#options1 .radio {
	width: 100%;
}

@media(max-width: 359px) {
    .radio {
        margin-bottom: 5px;
        margin-top: 5px;
    }
	.form-group h3.label {
		font-size: 14px;
	}

	.form-group-radio {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
    .order-details-action-container .action-bar a {
        padding: 10px 0;
        border-top: 1px solid lightgray;
        font-size: 12px !important;
    }

    /*** Sohit ***/
    #cart-section .container .checkout-btn-group{
        position: fixed;
        bottom:0;
        margin:0 auto;
        right:0;
        left:0;
    }
     #cart-section .container .checkout-btn-group .checkout-btn:first-child{
        display: table-cell;
        flex: 1;
        padding: 14px;
        font-size:13px;
         border:none;
         box-shadow: 0 0 1px #ccc;
         background-color: #fff;
    }
    #cart-section .container .checkout-btn-group .checkout-btn:first-child:focus{
    	color: #000;
    }
     #cart-section .container .checkout-btn-group .checkout-btn:last-child{
        flex: 1;
        display: table-cell;
        background-color: #B86447;
        color:#fff;
        padding: 14px;
        font-size:13px;
         border:none;
         box-shadow: 0 0 1px #ccc;
    }
    #cart-section .container .total-price-container {
		padding-bottom: 40px;
	}
}

.cartedge {
	font-size: 10px;
    background: #f06254;
    color: #fff;
    padding: 1px 5px;
    vertical-align: top;
    border-radius: 50%;
}

/********** Sohit CSS Checkout page ********************/

.user-form-title{
	padding-bottom:10px;
	position: relative;
	border-bottom:2px solid #ccc;
	margin-bottom:20px;
}

.user-form-title .title-text{
	font-size:22px;
	margin-left:40px;
	color:#000;
	text-transform: uppercase;
	font-weight: 600;
}
.user-form-title .step-form{
	width: 22px;
    line-height: 1.4;
    margin-top: 5px;
    height: 22px;
    font-size: 16px;
    background-color: #fd9827;
    color: #000;
    border-radius: 50%;
    position: absolute;
	text-align: center;
	margin-right: 20px;
}
.form-step-first{
	 display: block; 
	/*display: none;*/
}
.form-step-second{
	 display: none; 
	/*display: block;*/
}
.form-step-third {
	display: none;
	/* display: block; */
}


.button-prev-next:after {
    content: "";
    clear: both;
    display: table;
}
.btn-back-next{
	left:0;
}
.button-prev-next .btn{
    /*border: 1px solid #B86447; */
    color: white; 
    padding: 10px 24px; 
    cursor: pointer; 
	float: left; 
	width: 50%;
}
.button-prev-next .button-prev{
	background-color: #fff;
	color: #000;
	border-top: 1px solid #B86447;
}
.button-prev-next .button-next{
	background-color: #B86447; 
	padding: 12px 24px;
}
.radio-btn{
	width: 100%;
	position: relative;
    display: flex;
    align-items: center;
        margin-bottom: 15px;
}
.radio-btn .radio-label{
	    display: flex;
    align-items: center;
}
.radio-btn input[type="radio"]+.radio-label:before{
	border:3px solid #000;
	background-color: #fff;
	font-size:16px;
}
.radio-btn input[type="radio"]+.radio-label .label-title{
	font-size:13px;

}
.radio-btn input[type="radio"]+.radio-label .label-img{
	font-weight: 700;
	margin-left:20px;
}
.radio-btn input[type="radio"]+.radio-label .label-img img{
	width: 37px;
	height: auto;
}
.checkout-single{display: flex;}
.checkout-image{flex:1 1 30%; max-width:30%;}
.checkout-details{flex:1 1 70%; max-width:70%; padding-left:20px;}
.checkout-details p{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;font-weight: 700;font-size: 14px;}	
.active-filter{color: #B86447 !important;}

.cart-details {
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
}
.checkout-product-quantity {
    margin: 4px 0;
}
@media (max-width:320px){
	.order-details-action-container .action-bar a img{
		width:13px;
	}
	.order-details-action-container .action-bar a{
		border-top:none;
	}
}