* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: "Open-Sans-Regular", sans-serif;
	font-size: 12px;
	color: #444;
	padding: 0px;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
}

/** Fonts Import **/

/** Fonts Sizes**/

/** Fonts Colors **/

/** Border-Helper **/

/** Locals **/

/** Fonts Import **/

@font-face {
	font-family: "Open-Sans-Regular";
	src: url("../fonts/Open-Sans-Regular.eot");
	src: url("../fonts/Open-Sans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-Regular.woff") format("woff"), url("../fonts/Open-Sans-Regular.ttf") format("truetype"), url("../fonts/Open-Sans-Regular.svg#Open-Sans-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Open-Sans-Bold";
	src: url("../fonts/Open-Sans-Bold.eot");
	src: url("../fonts/Open-Sans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-Bold.woff") format("woff"), url("../fonts/Open-Sans-Bold.ttf") format("truetype"), url("../fonts/Open-Sans-Bold.svg#Open-Sans-Bold") format("svg");
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Open-Sans-Semibold";
	src: url("../fonts/Open-Sans-Semibold.eot");
	src: url("../fonts/Open-Sans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-Semibold.woff") format("woff"), url("../fonts/Open-Sans-Semibold.ttf") format("truetype"), url("../fonts/Open-Sans-Semibold.svg#Open-Sans-Semibold") format("svg");
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Open-Sans-Italic";
	src: url("../fonts/Open-Sans-Italic.eot");
	src: url("../fonts/Open-Sans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-Italic.woff") format("woff"), url("../fonts/Open-Sans-Italic.ttf") format("truetype"), url("../fonts/Open-Sans-Italic.svg#Open-Sans-Italic") format("svg");
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Open-Sans-Light";
	src: url("../fonts/Open-Sans-Light.eot");
	src: url("../fonts/Open-Sans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans-Light.woff") format("woff"), url("../fonts/Open-Sans-Light.ttf") format("truetype"), url("../fonts/Open-Sans-Light.svg#Open-Sans-Light") format("svg");
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

/** Helpers **/

.border-red {
	border: 1px solid red;
}

.border-green {
	border: 1px solid green;
}

.border-blue {
	border: 1px solid blue;
}

.border-pink {
	border: 1px solid pink;
}

/** Font Sizes **/

.color-1 {
	color: #0376e2;
}

.color-2 {
	color: #0376e2;
}

.color-3 {
	color: #0376e2;
}

.color-4 {
	color: #0376e2;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

/** Font Colors **/

/** Backgrounds **/

/** Definitions **/

section {
	padding-top: 80px;
	padding-bottom: 80px;
	border-top: 1px solid lightgray;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.btn {
	font-family: "Open-Sans-Regular", sans-serif;
	font-size: 14px;
	border-radius: 5px;
	padding: 12px 60px;
	color: #fff;
	border: 1px solid #B86447;
	background: #B86447;
	transition: all 0.3s;
}

.btn:hover {
	background: transparent;
	border: 1px solid #B86447;
	color: #B86447;
}

.section-title {
	font-size: 44px;
	font-family: "Open-Sans-Light", sans-serif;
	line-height: 1.27;
	font-weight: normal;
	color: #444;
}

.section-content {
	font-family: "Open-Sans-Regular", sans-serif;
	font-size: 16px;
	line-height: 1.75;
	color: #777;
	font-weight: normal;
}

.fixed {
	background: white;
	box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.3);
}

.fixed-link {
	color: #444 !important;
}

.move--left {
	right: 0 !important;
}

.checkout-btn-group {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	margin-top: 20px;
}

.checkout-btn-group .checkout-btn {
	padding: 10px 35px;
	border: 1px solid #666;
	text-align: center;
	border-right: none;
	font-family: "Open-Sans-Regular", sans-serif;
	font-size: 15px;
	color: #333;
	background: transparent;
}

.checkout-btn-group .checkout-btn:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.checkout-btn-group .checkout-btn:last-child {
	border-right: 1px solid #666;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	transition: all 0.2s;
}

.checkout-btn-group .checkout-btn:hover {
	color: white;
	border: 1px solid #B86447;
	background: #B86447;
}

.form-group {
	margin-bottom: 20px;
}

.form-group h3.label {
	font-size: 16px;
	margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group select,
.form-group textarea {
	display: block;
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
	font-family: "Open-Sans-Regular", sans-serif;
}

.form-group-radio {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
}

.form-group-radio .radio {
	margin-right: 15px;
}

.form-group-radio .radio:last-child {
	margin-right: 0;
}

.radio {
	margin: 0.5rem;
	margin-left: 0;
}

.radio input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.radio input[type="radio"]+.radio-label {
	font-size: 13px;
}

.radio input[type="radio"]+.radio-label:before {
	content: '';
	background: #f4f4f4;
	border-radius: 100%;
	border: 1px solid #b4b4b4;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	top: -0.01em;
	margin-right: 0.7em;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before {
	background-color: #B86447;
	box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus+.radio-label:before {
	outline: none;
	border-color: #B86447;
}

.radio input[type="radio"]:disabled+.radio-label:before {
	box-shadow: inset 0 0 0 4px #f4f4f4;
	border-color: #b4b4b4;
	background: #b4b4b4;
}

.radio input[type="radio"]+.radio-label:empty:before {
	margin-right: 0;
}

#message-box-success {
	margin-top: 20px;
	width: 50%;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding-left:50px;
}

#message-box-success img {
	max-width: 70px;
}

#message-box-success p {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	background: #4080ff;
	padding: 15px 25px;
	border-radius: 40px;
	display: inline;
	color: #fff;
	margin-left: 10px;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

#message-box-error p {
	padding: 10px;
	border-radius: 3px;
	border: 1px solid rgba(255, 0, 0, 0.9);
	background: rgba(255, 0, 0, 0.08);
	color: #cc0000;
	font-size: 15px;
	font-family: 'Open-sans-semibold', sans-serif;
	margin-top: 20px;
	width: 300px;
	margin-left: 320px;
	margin-right: auto;
}

/** Main Rules **/

#product-slide-section {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

#product-slide-section .container {
	max-width: 800px;
	margin: 0 auto;
}

#product-slide-section .flexslider {
	margin: 0 0 0;
}

#product-slide-section .flexslider ul.slides {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

#product-detail-section {
	padding: 30px 0;
}

#product-detail-section .container .product-description {
	margin-top: 20px;
}

#product-detail-section .container .product-quantity {
	margin-top: 20px;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}

#product-detail-section .container .product-quantity h2 {
	margin-right: 10px;
}

#product-detail-section .container .product-quantity input[type="number"] {
	font-family: "Open-Sans-Regular", sans-serif;
	padding: 5px 10px;
	border: 1px solid #ccc;
	outline-style: none;
	margin-left: 20px;
	padding-right: 5px;
	width: 60px;
}

#product-detail-section .container .product-price {
	margin-top: 20px;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	z
}

#product-detail-section .container .product-price h2 {
	margin-right: 20px;
}

#product-detail-section .container .product-price h3 {
	font-family: "Open-Sans-Regular", sans-serif;
	padding: 5px 10px;
	outline-style: none;
}

#product-detail-section .container .product-price h3 .green {
	color: green;
}

#product-detail-section .container .checkout-btn-group {
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}

#page-title-section {
	padding: 10px 0;
}

#page-title-section .container {
	text-align: center;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

#page-title-section .container a {
	color: #333333;
	font-size: 14px;
	margin-right: 0;
}

#page-title-section .container a i {
	margin-right: 5px;
}

#page-title-section .container h1 {
	font-size: 40px;
	margin: 0 auto;
}

#page-title-section .container>ul {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

/* #page-title-section .container ul li {
	padding: 0 10px;
}

#page-title-section .container ul li:first-child {
	padding-left: 0;
}

#page-title-section .container ul li:last-child {
	padding-right: 0;
} */

#page-title-section .container img {
	max-width: 80px;
}

#cart-section {
	padding: 40px 0;
}

#cart-section .container .cart-single {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: flex-start;
	-moz-align-items: flex-start;
	-ms-align-items: flex-start;
	-o-align-items: flex-start;
	align-items: flex-start;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px solid #ccc;
}

#cart-section .container .cart-single:last-child {
	border-bottom: none;
}

#cart-section .container .cart-single .cart-image {
	margin-right: 15px;
	max-width: 200px;
	height: auto;
}

#cart-section .container .cart-single .cart-product-delete a {
	color: white;
	background: rgba(255, 0, 0, 0.8);
	font-size: 13px;
	padding: 5px 15px;
	display: inline-block;
	margin-top: 15px;
	border-radius: 3px;
	transition: all 0.4s;
	border: 1px solid transparent;
}

#cart-section .container .cart-single .cart-product-delete a:last-child {
	background: #444;
}

#cart-section .container .cart-single .cart-product-delete a:hover {
	border: 1px solid rgba(255, 0, 0, 0.8);
	color: rgba(255, 0, 0, 0.8);
	background: transparent;
	cursor: pointer;
}

#cart-section .container .cart-single .cart-product-delete a:last-child:hover {
	border: 1px solid rgba(200, 200, 200, 0.8);
	color: #444;
	background: transparent;
	cursor: pointer;
}

#cart-section .container .cart-single .cart-details>h2 {
	font-size: 25px;
}

#cart-section .container .cart-single .product-quantity {
	margin-top: 15px;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
}

#cart-section .container .cart-single .product-quantity input[type="number"] {
	font-family: "Open-Sans-Regular", sans-serif;
	padding: 5px 10px;
	border: 1px solid #ccc;
	outline-style: none;
	margin-left: 20px;
	padding-right: 5px;
	width: 60px;
}

#cart-section .container .cart-single .product-price {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	margin-top: 15px;
}

#cart-section .container .cart-single .product-price h2 {
	margin-right: 20px;
}

#cart-section .container .total-price-container {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

#cart-section .container .total-price-container .label-container {
	width: 200px;
}

#cart-section .container .total-price-container .label-container h2 {
	font-size: 25px;
}

#cart-section .container .total-price-container .price-container p {
	font-size: 18px;
	font-weight: bold;
	margin-left: 75px;
}

#cart-section .container .checkout-btn-group {
	margin-top: 50px;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}

#checkout-form-section {
	padding: 40px 0;
}

#checkout-form-section .container {
	width: 700px;
}

#category-list-section {
	padding: 40px 0;
}

#category-list-section .container {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

#category-list-section .container .category-single {
	width: 32%;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	margin-right: 20px;
}

#category-list-section .container .category-single:nth-child(3n) {
	margin-right: 0;
}

#category-list-section .container .category-single:hover img {
	transform-origin: center center;
	transform: scale(1.1);
}

#category-list-section .container .category-single:hover .category-title {
	background: rgba(0, 0, 0, 0.7);
}

#category-list-section .container .category-single:hover .category-title p {
	opacity: 1;
}

#category-list-section .container .category-single img {
	transition: all 0.4s;
	display: block;
}

#category-list-section .container .category-single .category-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	transition: all 0.4s;
}

#category-list-section .container .category-single .category-title p {
	transition: all 0.4s;
	font-size: 17px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

#product-listing-section {
	padding: 40px 0;
}

#product-listing-section .container {
	max-width: 60%;
}

#product-listing-section .container .slide-container .product-single img {
	display: block;
}

#product-listing-section .container .slide-container .product-single .flex-caption {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	width: 100%;
	padding: 20px;
	left: 0;
	bottom: 0;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

#product-listing-section .container .slide-container .product-single .flex-caption p.product-name {
	margin-right: auto;
	color: #444;
	font-size: 20px;
}

#product-listing-section .container .slide-container .product-single .flex-caption a {
	display: inline-block;
}

#product-listing-section .container .slide-container .product-single .flex-caption .hidden {
	display: none !important;
}

#product-listing-section .container .slide-container .flexslider {
	margin: 0 0 0;
}

#product-listing-section .container .slide-container .flexslider ul.slides {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

@media (max-width: 1024px) {
	.container {
		max-width: 80%;
	}
	#product-slide-section .container {
		max-width: 80%;
		margin: 0 auto;
	}
	#product-listing-section .container {
		max-width: 80%;
		margin: 0 auto;
	}
	.checkout-btn-group a.checkout-btn {
		font-size: 13px;
	}
	#page-title-section .container h1 {
		font-size: 25px;
	}
	#cart-section {
		padding: 20px 0;
	}
	#cart-section h2,
	#cart-section h3 {
		font-size: 15px !important;
		line-height: normal !important;
	}
	#cart-section .container .cart-single .product-quantity,
	#cart-section .container .cart-single .product-price {
		margin-top: 10px;
	}
	#cart-section .container .cart-single .cart-details>h2 {
		font-size: 15px;
	}
	#category-list-section .container .category-single {
		width: 47%;
	}
	#product-slide-section .container {
		max-width: 80%;
		margin: 0 auto;
	}
	#category-list-section .container {
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
	}
}

@media (max-width: 768px) {
	#message-box-success p {
		padding: 10px;
		font-size: 12px;
		max-width: 60%;
	}
	#message-box-error p {
		padding: 10px;
		font-size: 12px;
		width: 100%;
		margin-left:0;
		margin-top:10px;
	}
	.container {
		max-width: 90%;
	}
	#product-slide-section .container {
		max-width: 90%;
		margin: 0 auto;
	}
	.checkout-btn-group a.checkout-btn {
		font-size: 10px;
		padding: 5px 10px;
	}
	#page-title-section .container a span {
		display: none;
	}
	#page-title-section .container h1 {
		font-size: 16px;
	}
	#cart-section .container .total-price-container .price-container p {
		text-align: left;
		margin-left: 0;
	}
	#category-list-section .container .category-single {
		width: 100%;
		margin-bottom: 15px;
		margin-right: 0;
	}
	#category-list-section .container .category-single:last-child {
		margin-bottom: 0;
	}
	.flex-direction-nav a:before {
		font-size: 20px;
	}
	#product-listing-section .container .slide-container .product-single .flex-caption {
		padding: 10px;
	}
	#product-listing-section .container .slide-container .product-single .btn {
		font-size: 13px;
		padding: 5px 15px;
	}

	#cart-section .container .cart-single .cart-image {
		max-width:100px;
		height: auto;
	}
}

.btn-single-product {
	margin-top: 20px;
}

.product-link #product-url-main {
	margin-top: 20px;
	display: inline-block;
}

/* Sachin 06-07-2018 */

.error {
	padding: 5px 0;
	margin: 5px 0;
	color: #ce0c0cd9;
	font-size: 15px;
	line-height: 20px;
}

.nocart {
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 15px;
}

#product-detail-section .container {
	text-align: center;
}

/** Order Confirmation Updates **/

.order-details-container {
	margin-top: 40px;
}

.order-details-container h2 {
	font-size: 25px;
}

.order-details-container p {
	font-size: 16px;
	margin-top: 10px;
}

.eticket-container {
	margin-top: 20px;
	text-align: center;
}

.eticket-container a {
	display: inline-block;
}

#order-meta {
	padding: 0;
}

#cart-section {
	border-top: none;
}

#order-meta .container:first-child{
	border-bottom:1px solid transparent;
	padding:0;
}

#order-meta .container:first-child #message-box-success {
	margin:10px 0;
}


#order-meta .container:last-child{
	border-top:1px solid transparent;
}

#order-meta .container {
	-webkit-display: flex;
	padding: 20px 0;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	border-bottom: 1px solid lightgray;
}

#order-meta .container>div {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

#order-meta .container>div span {
	font-size: 14px;
	display: block;
	margin-left: 10px;
}

#order-meta .container .order-id {
	margin: 0 auto;
}

#order-meta .container .total span {
	font-weight: bold;
	font-size: 16px;
}

@media(max-width:640px) {
	#order-meta .container {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	#order-meta .container>div {
		width: 100%;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		margin: 5px 0;
	}

	#product-listing-section .container .slide-container .product-single .flex-caption {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	#product-listing-section .container .slide-container .product-single .flex-caption p {
		margin: 0 auto;
		margin-right: 0;
		width: 100%;
	}

	#product-listing-section .container .slide-container .product-single .flex-caption #popup_btn {
		margin:0 auto;
		margin-top:10px;
		padding:5px 20px !important;
	}

	.product-link #product-url-main {
		margin-top:0;
	}

	#message-box-success {
		margin-left:10px;
		width:100%;
	}
}

@media(max-width:480px) {
	#message-box-success {
		margin-left: 0;
		width: 100%;
	}
}

#page-title-section .container .mobile-menu {
	position: relative;
	display: none;
}

#page-title-section .container .mobile-menu>a {
	font-size: 25px;
}

.sidebar-menu {
	width: 250px;
	position: fixed;
	left: -250px;
	height: 100vh;
	transition: all 0.3s;
	background: white;
	z-index: 100000000;
}

.sidebar-menu .sidebar-menu--close--container {
	padding: 20px;
}

.sidebar-menu .sidebar-menu--close--container i {
	font-size: 15px;
	padding: 10px 12px;
	color: white;
	background: #B86447;
	border-radius: 5px;
}

.sidebar-menu .sidebar-menu--list--container .sidebar-menu--list {
	border-top: 1px solid lightgray;
}

.sidebar-menu .sidebar-menu--list--container .sidebar-menu--list .sidebar-menu--list--item {
	display: block;
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid lightgray;
}

.sidebar-menu .sidebar-menu--list--container .sidebar-menu--list .sidebar-menu--list--item a {
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
}

.sidebar-menu .sidebar-menu--signup--container {
	padding: 20px;
}

.sidebar-menu .sidebar-menu--signup--container a {
	display: block;
	text-align: center;
}

.sidebar-menu .sidebar-menu--signup--container a:hover {
	color: #B86447;
}

.sidebar-menu .sidebar-menu--signup--container .dropdown {
	margin-top: 15px;
	border: 1px solid #B86447;
	width: 100%;
}

.sidebar-menu .sidebar-menu--signup--container .dropdown .list {
	width: 100%;
}

#popup-form {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 100000;
}

.move--left {
	left: 0 !important;
}

#menu_slide {
	cursor: pointer;
}

@media(max-width:768px) {
	#main-nav--selector,
	.dropdown.main-nav--selector {
		display: none;
	}
	#page-title-section .container .mobile-menu {
		display: block;
	}
	#page-title-section .container a {
		margin-left: 0;
	}
}

@media(max-width:480px) {
	#message-box-success {
		margin-left: 0;
		padding-left:0;
	}

	#message-box-success p {
		width:100%;
		max-width:100%;
	}
}

.disable {
	pointer-events: none;
	background: lightgray !important;
	color: gray !important;
	border-right: 1px solid lightgray !important;
	border-top: 1px solid lightgray !important;
	border-bottom: 1px solid lightgray !important;
}

.enable {
	cursor: pointer !important;
	background: #B86447 !important;
	color: white !important;
	border: 1px solid #B86447 !important;
}

#cart #message-box-success,
#order_confirmation #message-box-success {
	text-align: left;
	padding-left:0;
	margin-left:0;
	margin-right: auto;
}

#order_confirmation #message-box-success {
	margin-top: 0;
}

#order-meta .container {
	padding:10px 0;
}

#main-nav--selector  {
	display: none !important;
}

.dropdown {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
	background-color: #f6f6f6;
	border-radius: 5px;
	border: solid 1px #eee;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0075);
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: normal;
	font-family: "Open-Sans-Regular", sans-serif;
	outline: none;
	padding-left: 28px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	text-align: left !important;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: auto;
}

.dropdown:focus {
	background-color: #f1f1f1;
}

.dropdown:hover {
	background-color: #f3f3f3;
}

.dropdown:active,
.dropdown.open {
	background-color: #f0f0f0 !important;
	border-color: #e4e4e4;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
}

.dropdown:after {
	height: 0;
	width: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #777;
	-webkit-transform: origin(50% 20%);
	transform: origin(50% 20%);
	transition: all 0.125s ease-in-out;
	content: '';
	display: block;
	margin-top: -2px;
	pointer-events: none;
	position: absolute;
	right: 10px;
	top: 50%;
}

.dropdown.open:after {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.dropdown.open .list {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
}

.dropdown.open .option {
	cursor: pointer;
}

.dropdown.wide {
	width: 100%;
}

.dropdown.wide .list {
	left: 0 !important;
	right: 0 !important;
}

.dropdown .list {
	box-sizing: border-box;
	transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
	background-color: #fff;
	border-radius: 6px;
	margin-top: 4px;
	padding: 3px 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 999;
}

.dropdown .list:hover .option:not(:hover) {
	background-color: transparent !important;
}

.dropdown .option {
	cursor: default;
	font-weight: 400;
	line-height: 40px;
	outline: none;
	padding-left: 18px;
	padding-right: 29px;
	text-align: left;
	transition: all 0.2s;
}

.dropdown .option:hover,
.dropdown .option:focus {
	background-color: #f6f6f6 !important;
}

.dropdown .option.selected {
	font-weight: 600;
}

.dropdown .option.selected:focus {
	background: #f6f6f6;
}

.dropdown.main-nav--selector {
	padding:10px 60px;
	width: 200px;
	padding-left: 15px;
}
.main-nav--selector .list {
	width:100%;
	margin-top:6px;
}
.main-nav--selector  ul li {
	font-size: 15px;
}