* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: "Nunito-Regular", sans-serif;
	font-size: 12px;
	color: #444;
	padding: 0px;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
}

.front-page select {
	display: none !important;
}

/** Fonts Import **/

/** Fonts Sizes**/

/** Fonts Colors **/

/** Border-Helper **/

/** Fonts Import **/

@font-face {
	font-family: "Nunito-Regular";
	src: url("../fonts/Nunito-Regular.eot");
	src: url("../fonts/Nunito-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito-Regular.ttf") format("truetype"), url("../fonts/Nunito-Regular.svg#Nunito-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Nunito-Bold";
	src: url("../fonts/Nunito-Bold.eot");
	src: url("../fonts/Nunito-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Bold.woff") format("woff"), url("../fonts/Nunito-Bold.ttf") format("truetype"), url("../fonts/Nunito-Bold.svg#Nunito-Bold") format("svg");
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Nunito-Semibold";
	src: url("../fonts/Nunito-Semibold.eot");
	src: url("../fonts/Nunito-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-SemiBold.woff") format("woff"), url("../fonts/Nunito-SemiBold.ttf") format("truetype"), url("../fonts/Nunito-Semibold.svg#Nunito-Semibold") format("svg");
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Nunito-Italic";
	src: url("../fonts/Nunito-Italic.eot");
	src: url("../fonts/Nunito-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Italic.woff") format("woff"), url("../fonts/Nunito-Italic.ttf") format("truetype"), url("../fonts/Nunito-Italic.svg#Nunito-Italic") format("svg");
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "Nunito-Light";
	src: url("../fonts/Nunito-Light.eot");
	src: url("../fonts/Nunito-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Nunito-Light.woff") format("woff"), url("../fonts/Nunito-Light.ttf") format("truetype"), url("../fonts/Nunito-Light.svg#Nunito-Light") format("svg");
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}

/** Helpers **/

.border-red {
	border: 1px solid red;
}

.border-green {
	border: 1px solid green;
}

.border-blue {
	border: 1px solid blue;
}

.border-pink {
	border: 1px solid pink;
}

/** Font Sizes **/

.color-1 {
	color: #0376e2;
}

.color-2 {
	color: #0376e2;
}

.color-3 {
	color: #0376e2;
}

.color-4 {
	color: #0376e2;
}

/** Font Colors **/

/** Backgrounds **/

/** Definitions **/

section {
	padding-top: 80px;
	padding-bottom: 80px;
	border-top: 1px solid lightgray;
	padding-left: 100px;
	padding-right: 100px;
}

.container {
	margin: 0 auto;
}

.btn {
	font-size: 14px;
	border-radius: 5px;
	padding: 12px 60px;
	color: #fff;
	border: 1px solid #B86447;
	background: #B86447;
  transition: all 0.3s;
  font-family: "Nunito-Regular", sans-serif;
}

.btn:hover {
	background: transparent;
	border: 1px solid #B86447;
	color: #B86447;
}

.section-title {
	font-size: 44px;
	font-family: "Nunito-Light", sans-serif;
	line-height: 1.27;
	font-weight: normal;
	color: #444;
}

.section-content {
	font-family: "Nunito-Regular", sans-serif;
	font-size: 16px;
	line-height: 1.75;
	color: #777;
	font-weight: normal;
}

.fixed {
	background: white;
	box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.3);
}

.fixed .container .logo-section img {
	max-width: 70px
}

.fixed .container .nav-section {
	margin-top: 0;
}

.fixed-link {
	color: #444 !important;
}

.move--left {
	right: 0 !important;
}

/** Main Rules **/

.sidebar-menu {
	width: 250px;
	position: fixed;
	right: -250px;
	height: 100vh;
	transition: all 0.3s;
	background: white;
	z-index: 100000000;
}

.sidebar-menu .sidebar-menu--close--container {
	padding: 20px;
}

.sidebar-menu .sidebar-menu--close--container i {
	font-size: 15px;
	padding: 10px 12px;
	color: white;
	background: #B86447;
	border-radius: 5px;
}

.sidebar-menu .sidebar-menu--list--container .sidebar-menu--list {
	border-top: 1px solid lightgray;
}

.sidebar-menu .sidebar-menu--list--container .sidebar-menu--list .sidebar-menu--list--item {
	display: block;
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid lightgray;
}

.sidebar-menu .sidebar-menu--list--container .sidebar-menu--list .sidebar-menu--list--item a {
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
}

.sidebar-menu .sidebar-menu--signup--container {
	padding: 20px;
}

.sidebar-menu .sidebar-menu--signup--container a {
	display: block;
	text-align: center;
}

.sidebar-menu .sidebar-menu--signup--container a:hover {
	color: #B86447;
}

.sidebar-menu .sidebar-menu--signup--container .dropdown {
	margin-top: 15px;
	border: 1px solid #B86447;
	width: 100%;
}

.sidebar-menu .sidebar-menu--signup--container .dropdown .list {
	width: 100%;
}

#popup-form {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 100000;
}

.form--main {
	display: none;
	z-index: 10000000;
	position: fixed;
	width: 30%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	border-radius: 5px;
	padding: 20px;
	-webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.5);
}

.form--main .form-main--close--container {
	text-align: right;
}

.form--main .form-main--close--container i {
	cursor: pointer;
	font-size: 20px;
}

.form--main .social-signup--container {
	padding-top: 10px;
}

.form--main .social-signup--container a.social-signup {
	display: block;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 15px;
	font-size: 15px;
	text-align: center;
	line-height: normal;
	color: #fff;
	text-transform: capitalize;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
	position: relative;
	transition: all 0.5s;
}

.form--main .social-signup--container a.social-signup i {
	font-size: 20px;
}

.form--main .social-signup--container a.social-signup span {
	margin-left: 10px;
	position: relative;
	top: -2px;
}

.form--main .social-signup--container a.social-signup:hover {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.form--main .social-signup--container .social-signup--facebook {
	background-color: #3b5998;
}

.form--main .social-signup--container .social-signup--instagram {
	background: radial-gradient(circle at 10% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.form--main .social-signup--container .social-signup--twitter {
	background-color: #55acee;
}
.form--main .social-signup--container .social-signup--email {
	background-color: #285AEB;
}

#go-top {
	background: #B86447;
	border-radius: 80px;
	padding: 15px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10000;
	transition: all 0.5s;
	cursor: pointer;
	opacity: 0;
}

#go-top i {
	font-size: 20px;
	color: #fff;
}

#nav-section--language--selector {
	margin-left: 20px;
	padding: 10px;
	font-family: "Nunito-Regular", sans-serif;
	border: transparent;
	color: #444;
	border-radius: 5px;
	display: block;
}

header {
	position: fixed;
	width: 100%;
	padding: 15px 100px;
	z-index: 10;
	transition: all 0.4s;
}

header .container {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
}

header .logo-section {
	min-width: 20%;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

header .logo-section a img {
	max-width: 140px;
	transition: all 0.3s;
}

header .mobile-nav--section {
	margin-left: auto;
	position: relative;
}

header .mobile-nav--section a {
	line-height: normal;
	font-size: 20px;
	display: block;
	color: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

header .nav-section {
	flex: 1;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	-o-justify-content: flex-end;
	justify-content: flex-end;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	margin-top: -70px;
}

/* header .nav-section .dropdown {
	margin-left: 20px;
} */

header .btn {
	padding: 5px 30px;
}

header .nav-section--list {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	-o-justify-content: flex-end;
	justify-content: flex-end;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	margin-left: 20px;
}

header .nav-section--list li.nav-section--list--item {
	margin-right: 30px;
	font-size: 15px;
	display: inline-block;
}

header .nav-section--list li.nav-section--list--item a.nav-section--list--anchor {
	color: #fff;
	position: relative;
	transition: all 0.3s;
}

header .nav-section--list li.nav-section--list--item :hover,
header .nav-section--list li.nav-section--list--item :focus {
	color: #B86447 !important;
	padding-bottom: 3px;
	border-bottom: 2px solid #B86447;
}

#banner {
	background: lightblue;
	background: url("../img/advert.PNG") center/cover;
}

#banner .container {
	height: 100%;
	padding-top: 100px;
	text-align: center;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

#banner .container .section-title,
#banner .container .section-content {
	color: #fff;
}

#banner .container .section-title {
	width: 70%;
	margin: 0 auto;
	font-size: 30px;
}

#banner .container .banner-slogan {
	margin-bottom: 20px;
}

#banner .container .banner-anchor {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-self: flex-start;
	-moz-align-self: flex-start;
	-ms-align-self: flex-start;
	-o-align-self: flex-start;
	align-self: flex-start;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	margin-top: 30px;
}

#banner .container .banner-anchor a {
	margin-right: 10px;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

#banner .container .banner-anchor a img {
	margin-right: 10px;
}

#banner .container .banner-anchor a.btn:hover {
	color: #fff;
}

#banner .container .videos>div.desktop {
	/*transform: translateX(20.9%); -webkit-transform: translateX(20.9%);*/
	z-index: 2;
	width: 70.70%;
	background-image: url("../img/pic_desktop_frame.png");
	background-position: left bottom;
	/* animation: a-desktop 480ms cubic-bezier(0.3, 0.1, 0.2, 1) 13s 1 normal; -webkit-animation: a-desktop 480ms cubic-bezier(0.3, 0.1, 0.2, 1) 13s 1 normal; animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards;*/
}

#banner .container .videos>div.desktop::before {
	content: ' ';
	display: block;
	padding-top: 46.35294%;
}

#banner .container .videos>div.desktop .content {
	height: 92.51269%;
	width: 88.4%;
}

#banner .container .videos>div.desktop .content video {
	height: 128.8%;
	left: 0;
}

#banner .container .videos>div.mobile {
	/*transform: translateX(-134%); -webkit-transform: translateX(-134%);*/
	z-index: 1;
	width: 27.2%;
	background-image: url("../img/pic_iphone_frame.png");
	background-position: right bottom;
	/* animation: a-mobile 480ms cubic-bezier(0.3, 0.1, 0.2, 1) 13s 1 normal; -webkit-animation: a-mobile 480ms cubic-bezier(0.3, 0.1, 0.2, 1) 13s 1 normal; animation-fill-mode: forwards; -webkit-animation-fill-mode: forwards; */
}

#banner .container .videos>div.mobile::before {
	content: ' ';
	display: block;
	padding-top: 120.12195%;
}

#banner .container .videos>div.mobile .content {
	height: 84.26396%;
	width: 61.28048780%;
}

#banner .container .videos>div.mobile .content video {
	height: 113%;
	right: 0;
}

#banner .container .videos {
	height: auto;
	position: relative;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

@media (max-width: 790px) {
	#banner .container .videos {
		display: none;
	}
}

#banner .container .videos>div {
	display: block;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}

#banner .container .videos>div .content {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	width: 100%;
}

#banner .container .videos>div .content video {
	position: absolute;
	top: 0;
	height: 100%;
}

#about-us .container .feature-content--wrap {
	border-top: 1px solid lightgray;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	padding-top: 40px;
	padding-bottom: 40px;
}

#about-us .container .feature-content--wrap .feature-content--image {
	width: 40%;
	padding-left: 40px;
	padding-right: 40px;
}

#about-us .container .feature-content--wrap .feature-content--main {
	width: 60%;
	padding-left: 40px;
	padding-right: 40px;
}

#about-us .container .about-content--wrap {
	padding-bottom: 40px;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

#about-us .container .about-content--wrap .about-content--description {
	width: 75%;
}

#about-us .container .section-title {
	font-size: 30px;
}

#about-us .container .section-title a {
	color: #bf3a00;
	transition: all 0.3s;
}

#about-us .container .section-title a:hover {
	padding-bottom: 2px;
	border-bottom: 2px solid #bf3a00
}

#about-us .container .about-content--wrap .about-content--logo {
	width: 25%;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	-o-justify-content: flex-end;
	justify-content: flex-end;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

#about-us .container .about-content--wrap .about-content--logo img {
	max-width: 250px;
}

#about-us .features-wrap {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	padding: 40px 0 0 0;
	position: relative;
	border-top: 1px solid lightgray;
}

#about-us .features-wrap .feature-single--wrap {
	width: 24%;
	margin-right: 1%;
	flex: 1 1 auto;
	padding: 30px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s;
}

#about-us .features-wrap .feature-single--wrap .feature-single--icon {
	font-size: 40px;
	transition: all 0.5s;
}

#about-us .features-wrap .feature-single--wrap .feature-single--title {
	font-size: 24px;
	font-family: "Nunito-Light", sans-serif;
	text-transform: uppercase;
	margin-top: 15px;
	position: relative;
	transition: all 0.3s;
}

#about-us .features-wrap .feature-single--wrap .feature-single--title:after {
	content: "";
	position: absolute;
	width: 0%;
	height: 2px;
	background: #B86447;
	display: block;
	transition: all 0.3s;
}

#about-us .features-wrap .feature-single--wrap .feature-single--content {
	font-family: "Nunito-Regular", sans-serif;
	font-size: 15px;
	margin-top: 10px;
}

#about-us .features-wrap .feature-single--wrap:last-child {
	margin-right: 0;
}

#about-us .features-wrap .feature-single--wrap:hover {
	-webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 0, 0, 0.5);
}

#about-us .features-wrap .feature-single--wrap:hover .feature-single--icon,
#about-us .features-wrap .feature-single--wrap:hover .feature-single--title {
	color: #B86447;
}

#about-us .features-wrap .feature-single--wrap:hover .feature-single--title:after {
	width: 100%;
}

#pricing {
	background: url("../img/para-bg.jpeg") top/cover;
	background-attachment: fixed;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
}

#pricing .pricing-details--wrap {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	-o-justify-content: space-around;
	justify-content: space-around;
}

#pricing .pricing-details--wrap>.pricing-details {
	width: 40%;
	background: #f3f3f3;
	border-radius: 5px;
	padding: 30px 40px;
}

#pricing .pricing-details--wrap>.pricing-details .pricing-details--icon {
	font-size: 60px;
}

#pricing .pricing-details--wrap>.pricing-details .pricing-details--title {
	font-size: 18px;
	border-bottom: 1px solid #777;
	padding-bottom: 5px;
	text-transform: uppercase;
	font-family: "Nunito-Light", sans-serif;
}

#pricing .pricing-details--wrap>.pricing-details .pricing-details--title i {
	margin-right: 20px;
}

/* #pricing .pricing-details--wrap > .pricing-details .pricing-details--content .price--anchor { -webkit-display: flex; -moz-display: flex; -ms-display: flex; -o-display: flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; -o-justify-content: space-between; justify-content: space-between; } */

#pricing .pricing-details--wrap>.pricing-details .pricing-details--content .price--anchor .price--duration {
	margin-left: -20px;
}

#pricing .pricing-details--wrap>.pricing-details .pricing-details--content .price--main {
	font-size: 50px;
}

#pricing .pricing-details--wrap>.pricing-details .pricing-details--content p {
	font-size: 16px;
	font-family: "Nunito-Regular", sans-serif;
	-webkit-text-transform: uppercase;
	-moz-text-transform: uppercase;
	-ms-text-transform: uppercase;
	-o-text-transform: uppercase;
	text-transform: uppercase;
	padding: 10px 0;
}

#pricing .pricing-details--wrap>.pricing-details:last-child {
	margin-right: 0;
}

footer {
	padding: 20px 0;
	padding-bottom: 0;
	background: #333;
}

footer>* {
	color: white;
}

footer .container {
	padding-left: 100px;
	padding-right: 100px;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	padding-bottom: 20px;
}

footer .copyright-container {
	padding: 15px;
	background: #222;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}

footer .footer-content--about {
	width: 30%;
}

footer .footer-content--about .footer-content {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

footer .footer-content--about .footer-content--logo img {
	max-width: 60px;
}

footer .footer-content--about p {
	margin-left: 20px;
}

footer .footer-content--about .social-list--main {
	margin-top: 10px;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
}

footer .footer-content--about .social-list--main li {
	margin-right: 14px;
}

footer .footer-content--about .social-list--main a {
	font-size: 20px;
	color: #fff;
}

footer .footer-content--about .social-list--main a:hover {
	color: #B86447;
}

footer .footer-content--quicklinks {
	width: 70%;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	-o-justify-content: flex-end;
	justify-content: flex-end;
}

footer .footer-content--quicklinks .footer-content--quicklinks--list {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	-o-justify-content: flex-end;
	justify-content: flex-end;
}

footer .footer-content--quicklinks .footer-content--quicklinks--list li {
	margin-right: 15px;
}

footer .footer-content--quicklinks .footer-content--quicklinks--list a {
	color: #fff;
}

@media (min-width: 1025px) and (max-width: 1200px) {
	.container {
		width: 85%;
	}
	header {
		padding-left: 50px;
		padding-right: 50px;
	}
	section {
		padding-left: 50px;
		padding-right: 50px;
	}
	footer .container {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
  header .nav-section {
    margin-top: 0;
  }
	.container {
		width: 85%;
	}
	#about-us .container .about-content--wrap .about-content--description {
		width: 100%;
		text-align: center;
	}
	#about-us .container .about-content--wrap .about-content--logo {
		display: none;
	}
	#about-us .features-wrap {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#about-us .features-wrap .feature-single--wrap {
		width: 49%;
		margin-bottom: 1%;
	}
	#about-us .features-wrap .feature-single--wrap:nth-child(even) {
		margin-right: 0;
	}
	#pricing .container .price--anchor {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: space-around !important;
		-moz-justify-content: space-around !important;
		-ms-justify-content: space-around !important;
		-o-justify-content: space-around !important;
		justify-content: space-around !important;
	}
	header {
		padding-left: 25px;
		padding-right: 25px;
	}
	section {
		padding-left: 25px;
		padding-right: 25px;
	}
	header .nav-section--list li.nav-section--list--item {
		margin-right: 20px;
	}
	footer .container {
		padding-left: 25px;
		padding-right: 25px;
	}
	header .container .logo-section img {
		max-width: 70px;
	}

	.service-wrap {
		height: 285px !important;
	}
}

@media (max-width: 768px) {
	#banner .container .section-title {
		width: 85%;
	}
	header .container .logo-section img {
		max-width: 70px;
	}
	.form--main {
		width: 50% !important;
	}
	.form--main .social-signup {
		font-size: 13px !important;
	}
	section {
		padding: 40px 0;
	}
	.container {
		width: 85%;
	}
	.section-title {
		font-size: 32px;
		line-height: normal;
	}
	.section-content {
		font-size: 14px;
		line-height: normal;
	}
	.btn {
		padding: 10px 30px;
		font-size: 13px;
	}
	#banner {
		height: auto;
		padding-top: 40px;
	}
	#banner .container {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	#banner .container .banner-mockup--wrap {
		display: none;
	}
	#banner .container .banner-anchor {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
	}
	#banner .container .banner-anchor a {
		margin-top: 10px;
	}
	/* #banner .container .banner-anchor a:first-child {
		margin-top: 0;
	} */
	#about-us .container .about-content--wrap .about-content--description {
		width: 100%;
		text-align: center;
	}
	#about-us .container .about-content--wrap .about-content--logo {
		display: none;
	}
	#about-us .container .feature-content--wrap {
		border-top: 1px solid lightgray;
		-webkit-display: flex;
		-moz-display: flex;
		-ms-display: flex;
		-o-display: flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
	}
	#about-us .container .feature-content--wrap .feature-content--image {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	#about-us .container .feature-content--wrap .feature-content--main {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	#about-us .features-wrap {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	#about-us .features-wrap .feature-single--wrap {
		width: 49%;
		margin-bottom: 1%;
	}
	#about-us .features-wrap .feature-single--wrap:nth-child(even) {
		margin-right: 0;
	}
	#pricing .pricing-details--wrap {
		flex-wrap: wrap;
	}
	#pricing .pricing-details--wrap .pricing-details {
		width: 48%;
	}
	#pricing .pricing-details--wrap .pricing-details .price--main {
		display: block;
		text-align: center;
	}
	#pricing .pricing-details--wrap .price--anchor {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: space-around !important;
		-moz-justify-content: space-around !important;
		-ms-justify-content: space-around !important;
		-o-justify-content: space-around !important;
		justify-content: space-around !important;
	}
	header .nav-section {
		display: none;
	}
	header .mobile-nav--section {
		display: block !important;
		width: 100%;
	}
	header .mobile-nav--section a {
		right: 0;
	}
	footer .container .footer-content--about,
	footer .container .footer-content--quicklinks {
		width: 50%;
	}
	header {
		padding-left: 20px;
		padding-right: 20px;
	}
	section {
		padding-left: 20px;
		padding-right: 20px;
	}
	footer .container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.service-wrap {
		margin-bottom: 30px;
		max-width: 50% !important;
		flex: 0 0 45% !important;
		height: auto !important;
	}

	.service-wrap .service-content, .service-wrap .service-read-more {
		position: relative !important;
	}
}

@media (max-width: 480px) {
	.form--main {
		width: 80% !important;
	}
	.form--main .social-signup {
		font-size: 12px !important;
	}
	section {
		padding: 30px 0;
	}
	.section-title {
		font-size: 20px;
		line-height: normal;
	}
	.section-content {
		font-size: 14px;
		line-height: normal;
	}
	.container {
		width: 100%;
		max-width: 100% !important;
		padding-left: 15px;
		padding-right: 15px;
	}
	header .nav-section--list {
		padding-right: 0;
	}
	header .nav-section--list li.nav-section--list--item {
		margin-right: 10px;
		font-size: 12px;
	}
	header .nav-section--user--action {
		font-size: 12px;
		padding: 6px;
		line-height: normal;
	}
	#about-us .container .section-title {
		font-size: 17px;
	}
	#about-us .features-wrap {
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 15px;
	}
	#about-us .features-wrap .feature-single--wrap {
		width: 100%;
		margin-bottom: 15px;
		margin-right: 0;
	}
	#about-us .container .feature-content--wrap {
		border-top: 1px solid lightgray;
		-webkit-display: flex;
		-moz-display: flex;
		-ms-display: flex;
		-o-display: flex;
		display: flex;
		-webkit-flex-wrap: nowrap;
		-moz-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		-o-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	#about-us .container .feature-content--wrap .feature-content--image {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	#about-us .container .feature-content--wrap .feature-content--main {
		margin-top: 20px;
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	#pricing .pricing-details--wrap {
		flex-wrap: wrap;
	}
	#pricing .pricing-details--wrap .pricing-details {
		width: 100%;
		margin-bottom: 15px;
	}
	#pricing .pricing-details--wrap .pricing-details .price--main {
		display: block;
		text-align: center;
	}
	#pricing .container .price--anchor {
		-webkit-justify-content: space-around !important;
		-moz-justify-content: space-around !important;
		-ms-justify-content: space-around !important;
		-o-justify-content: space-around !important;
		justify-content: space-around !important;
	}
	#pricing .container .price--anchor .price--duration {
		margin-left: 0 !important;
	}
	#pricing .container .price--anchor a {
		width: 100%;
		text-align: center;
	}
	footer .container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	footer .container .footer-content--about,
	footer .container .footer-content--quicklinks {
		width: 100%;
	}
	footer .container .footer-content-about .social-list--main {
		margin-top: 20px;
	}
	footer .container .footer-content--quicklinks {
		-webkit-justify-content: flex-start;
		-moz-justify-content: flex-start;
		-ms-justify-content: flex-start;
		-o-justify-content: flex-start;
		justify-content: flex-start;
		margin-top: 20px;
	}
	header {
		padding-left: 15px;
		padding-right: 15px;
	}
	section {
		padding-left: 15px;
		padding-right: 15px;
	}
	footer .container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.service-wrap {
		margin-bottom: 30px;
		max-width: 100% !important;
		flex: 0 0 100% !important;
		height: auto !important;
	}
	.service-content-section {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.service-content-section .section-content .feedback-link {
		display: block !important;
		margin-left: 0 !important;
		margin-top: 10px !important;
	}
	.service-content-section .section-image {
		width: 100% !important;
		order: 0;
		margin-bottom: 30px;
	}
	.service-content-section .section-content {
		width: 100% !important;
		order: 1;
	}
}

select {
	display: none !important;
}

.dropdown {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
	background-color: #f6f6f6;
	border-radius: 5px;
	border: solid 1px #eee;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0075);
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: normal;
	font-family: "Nunito-Regular", sans-serif;
	outline: none;
	padding-left: 28px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	text-align: left !important;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: auto;
	min-width: 150px;
}

.dropdown:focus {
	background-color: #f1f1f1;
}

.dropdown:hover {
	background-color: #f3f3f3;
}

.dropdown:active,
.dropdown.open {
	background-color: #f0f0f0 !important;
	border-color: #e4e4e4;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
}

.dropdown:after {
	height: 0;
	width: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #777;
	-webkit-transform: origin(50% 20%);
	transform: origin(50% 20%);
	transition: all 0.125s ease-in-out;
	content: '';
	display: block;
	margin-top: -2px;
	pointer-events: none;
	position: absolute;
	right: 10px;
	top: 50%;
}

.dropdown.open:after {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.dropdown.open .list {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
	width: 120%
}

.dropdown.open .option {
	cursor: pointer;
}

.dropdown.wide {
	width: 100%;
}

.dropdown.wide .list {
	left: 0 !important;
	right: 0 !important;
}

.dropdown .list {
	box-sizing: border-box;
	transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
	background-color: #fff;
	border-radius: 6px;
	margin-top: 4px;
	padding: 3px 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 999;
}

.dropdown .list:hover .option:not(:hover) {
	background-color: transparent !important;
}

.dropdown .option {
	cursor: default;
	font-weight: 400;
	line-height: 40px;
	outline: none;
	padding-left: 18px;
	padding-right: 29px;
	text-align: left;
	transition: all 0.2s;
}

.dropdown .option:hover,
.dropdown .option:focus {
	background-color: #f6f6f6 !important;
}

.dropdown .option.selected {
	font-weight: 600;
}

.dropdown .option.selected:focus {
	background: #f6f6f6;
}

@-webkit-keyframes a-desktop {
	from {
		transform: translateX(20.9%);
		-webkit-transform: translateX(20.9%);
	}
	to {
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}
}

@keyframes a-desktop {
	from {
		transform: translateX(20.9%);
		-webkit-transform: translateX(20.9%);
	}
	to {
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}
}

@-webkit-keyframes a-mobile {
	from {
		transform: translateX(-134%);
		-webkit-transform: translateX(-134%);
	}
	to {
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}
}

@keyframes a-mobile {
	from {
		transform: translateX(-134%);
		-webkit-transform: translateX(-134%);
	}
	to {
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}
}

.animated--icon {
	padding-bottom: 10px;
	animation: bounce 0.3s cubic-bezier(0.5, 0.05, 1, 0.5);
	animation-direction: alternate;
	animation-iteration-count: 5;
}

@keyframes bounce {
	from {
		transform: translate3d(0px, 0px, 0px);
		color: #444;
	}
	to {
		transform: translate3d(0px, 10px, 0px);
		color: #000;
	}
}

.pricing-details--icon {
	position: relative;
}

.free-tag--image {
	position: absolute;
	right: 0;
}

h3.banner-slogan.section-content.message {
	font-weight: bold;
	display: inline-block;
	width: 60%;
	margin: 0 auto;
	padding: 8px 0;
	background: rgb(255, 0, 0, 0.2);
	border-radius: 5px;
}

/******** Google translate Suggestion box hide **********/

#google_translate_element {
	width: 300px;
	float: right;
	text-align: right;
	display: block
}

.goog-te-banner-frame.skiptranslate {
	display: none !important;
}

body {
	top: 0px !important;
}

#goog-gt-tt {
	display: none !important;
	top: 0px !important;
}

.goog-tooltip skiptranslate {
	display: none !important;
	top: 0px !important;
}

.activity-root {
	display: none !important;
}

.status-message {
	display: none !important;
}

.started-activity-container {
	display: none !important;
}

.started-activity-container {
	display: none !important;
}

.dropdown li {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

.dropdown li img {
	margin-right: 10px;
	width: 40px;
}

.current {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

.current img {
	width: 35px;
	margin-right: 10px;
}

.pricing-details--icon.bullhorn {
	text-align: center;
}

.pricing-details--content {
	text-align: center;
}

/** Date :: 8-8-2018 **/

header .login-btn {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	width: 180px;
	margin-right: 20px;
}

.login-btn.login-btn-customers {
	color: white;
}
/* .sidebar-menu .sidebar-menu--signup--container a.login-btn-customers:hover,
.login-btn.login-btn-customers:hover {
  color: #B86447;
  border-bottom: 2px solid #B86447;

} */


header .nav-section .login-btn:last-child {
  margin-right: 0;
}

.sidebar-menu .login-btn img,
header .login-btn img {
	width: 30px;
	height: auto;
	margin-right: 10px;
}

.sidebar-menu .login-btn {
 -webkit-display: flex !important;
 -moz-display: flex !important;
 -ms-display: flex !important;
 -o-display: flex !important;
 display: flex !important;
 -webkit-align-items: center;
 -moz-align-items: center;
 -ms-align-items: center;
 -o-align-items: center;
 align-items: center;
 -webkit-justify-content: center;
 -moz-justify-content: center;
 -ms-justify-content: center;
 -o-justify-content: center;
 justify-content: center;
 margin-bottom: 10px;
 padding:5px 50px;
}
.form-sec .alert{font-family: initial;}
.form-sec {
  display: none;
  background: white;
  width: 50%;
  height: auto;
  min-height: 280px;
  position: fixed;
  z-index: 111111;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
  0 7px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
  0 7px 10px -5px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  opacity: 1;
}

.form-sec .form-sec--close--container {
  text-align: right;
}

.form-sec .form-sec--close--container {
  font-size: 17px;
}
.form-sec .form-sec--close--container i {
  cursor: pointer;
}

.form-sec--main--container {
  padding-top: 20px;
}

.form-sec--main--container .form-control {
  margin-bottom:15px;
}
.form-sec--main--container .btn {
  padding:10px 50px;
  display: block;
  margin: 0 auto;
}

.form-control {
	display: block;
	width: 100%;
	padding: 8px;
	border-radius: 3px;
  border: 1px solid #ccc;
  font-family: "Open-Sans-Regular",
  sans-serif;
}

@media(max-width:1024px) and (min-width: 769px) {
  header .nav-section--list {
	  margin-left: 10px;
  }
  header .login-btn {
    width:auto;
  }
  header .login-btn img {
    width: 20px;
    height: auto;
    margin-right: 10px;
  } 
}

@media(max-width:767px) {
  .form-sec {
    width:94%;
  }
}
.error,.sellererror{
	padding-bottom: 20px;
    display: block;
    color: #ef0303ad;
    font-weight: bold;
}

#forget-form-customers, #forget-form-sellers {
	display: none;
}

.forget-password-anchor-sellers,
.forget-password-anchor-customers {
	color: #B86447;
	font-size: 14px;
}

#forget-form-customers .form-control,
#forget-form-sellers .form-control {
	margin-bottom: 20px;
}

.forget-back-sellers, .forget-back-customers {
	color: #B86447;
	font-size: 14px;
	display: block;
	margin-bottom: 15px;
}

.auto-height {
	min-height: 180px !important;
}

.btn.btn-description-checkout {
display: flex;
align-items:center;
max-width: 250px;
margin-top: 15px;
background: #0376e2;
border-color: #0376e2;
}

.btn.btn-description-checkout img {
margin-right: 10px;
}



/** Mockup **/
.banner {
    padding-top: 70px;
    min-height: 100vh;
}

.banner .container {
    height: 100%;
    width: 1170px;
    margin: 0 auto;
}
  .banner .container .banner-mockup-container {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
	-webkit-align-items: flex-start;
	-moz-align-items: flex-start;
	-ms-align-items: flex-start;
	-o-align-items: flex-start;
	align-items: flex-start;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}

.banner .container .banner-mockup-container .mockup-main {
    flex: 0;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	-o-justify-content: flex-end;
	justify-content: flex-end;
	padding-right: 20px;
}

.banner .container .banner-mockup-container .mockup-main .device-wrapper {
    width: 240px;

}

.banner .container .banner-mockup-container .navigator {
    flex: 0.4;
}

.screen {
    position: relative;
}

.screen img {
    position: absolute;
    transition: all 0.5s;
    opacity: 0;
	left: 0;
}

.navigator .step-single {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 4px;
}

.navigator .step-single button {
    background: none;
    font-size: 20px;
    color: #333;
    border:none;
    cursor: pointer;
    outline-style: none;
}

.navigator .step-single {
    height: 100px;
	text-align: left;
	font-family: "Nunito-Regular", sans-serif;
}

.navigator .step-single p {
    padding-left: 35px;
	font-size: 15px;
}

.navigator .step-single.active button {
    color: #B86447;
}
.navigator .step-single button, .navigator .step-single button span {
	line-height: normal;
}

.navigator .step-single button span {
    border: 1px solid #B86447;
    padding: 5px;
    font-size: 17px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
    transition: all 0.5s;
	padding-top: 3px;
}
.navigator .step-single button span:after {
    content:"";
    height: 65px;
    width: 14px;
    background:url(../img/down-arrow.png) center / cover;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.navigator .step-single:last-child button span:after {
    background: none;
    width: 0;
    height: 0;
}


.navigator .step-single.active button span {
    background: #B86447;
    color: white;
    font-weight: bold;
}

.screen img.active {
    opacity: 1;
}

.mobile-navigator {
    margin-top: 20px;
    display: none;
}

.mobile-navigator ul {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}

.mobile-navigator ul li {
    list-style: none;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}
.mobile-navigator ul li.active a {
    background: #B86447;
    color: white;
    font-weight: bold;
}


.mobile-navigator .digits {
    text-align: center;
    margin: 0 auto;
}

.mobile-navigator .digits li:after {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../img/right-arrow-step.png) center / cover;
    margin-left: 10px;
}

.mobile-navigator .digits li:last-child {
    margin-right: 0;
}

.mobile-navigator .digits li:last-child:after {
    background: none;
    width: 0;
    height: 0;
}
.mobile-navigator .digits li a {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    border: 1px solid #B86447;
    border-radius: 100%;
    width: 40px;
    height: 40px;
	font-size: 15px;
}

.mobile-navigator .mobile-navigator-text {
    position: relative;
}

.mobile-navigator .mobile-navigator-text .step-single {
    position: absolute;
    opacity: 0;
    width: 100%;
    text-align: center;
	font-family: "Nunito-Regular", sans-serif;
	font-size: 17px;
	color: #fff;
}

.mobile-navigator .mobile-navigator-text .step-single span {
	font-family: "Nunito-Semibold", sans-serif;
	color: #B86447;
	font-size: 20px;
	margin-top: 10px;
	display: inline-block;
}

.mobile-navigator .mobile-navigator-text .step-single.active {
    opacity: 1;
}

@media(max-width: 1024px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
	.banner .container .banner-mockup-container .mockup-main {
		flex: 0;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		padding-right: 0;
	}

	.banner .container .banner-mockup-container .navigator {
		flex: 1;
	}
}

@media(max-width: 768px) {
    .banner-mockup-container .navigator {
        display: none;
    }

    .mobile-navigator {
        display: block;
    }

    .banner .container .banner-mockup-container {
        margin-top: 100px;
    }
	
}

@media(max-width:480px) {
 	.banner .container .banner-mockup-container {
        margin-top: 150px;
    }
}



/** Services Updates **/
.service-content-section {
	padding-bottom: 80px;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: flex-start;
	-moz-align-items: flex-start;
	-ms-align-items: flex-start;
	-o-align-items: flex-start;
	align-items: flex-start;
}

.service-content-section .section-content {
	padding-right: 20px;
	width: 80%;
}

.service-content-section .section-image {
	width: 20%;
}

.service-content-section .section-content .section-title {
	padding-bottom: 10px;
	border-bottom: 1px solid lightgray;
	margin-bottom: 20px;
}

.service-content-section .section-content .btn {
	display: inline-block;
	text-transform: uppercase;
	margin-top: 20px;
	color: white !important;
}

.service-content-section .section-content .btn:hover {
	color: #B86447 !important;
}

.service-content-section .section-content .feedback-link {
	text-transform: capitalize;
	color: #B86447;
	font-size: 20px;
	margin-left: 20px;
}

.features-wrap {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
}

.service-wrap {
	flex: 1;
	margin-right: 20px;
	border: 1px solid gray;
	max-width: 30%;
	flex: 0 0 30%;
	border-radius: 4px;
	position: relative;
	height: 260px;
}
.service-wrap:last-child {
	margin-right: 0;
}

.service-wrap .service-header {
	background: #333;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	color: white;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}

.service-wrap .service-header img {
	margin-left:5px;
	margin-right: 5px;
}

.service-wrap .service-content {
	padding: 20px;
	position: absolute;
}

.service-wrap .service-content h2 {
	border-bottom: 1px solid lightgray;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.service-wrap .service-content p {
	font-size: 14px;
}

.service-wrap .service-read-more {
	padding:10px 20px;
	position: absolute;
	bottom: 0;	
	width: 100%;
}

.service-wrap .service-read-more a {
	font-size: 16px;
	color: #B86447;
}